[2016-01-21 16:44] jjgao opened #1 "Visualize Heatmaps within OncoPrints"
**Background**: An OncoPrint is a concise and compact graphical summary of genomic alterations in multiple genes across a set of tumor samples. Rows represent genes, and columns represent samples. Glyphs and color coding are used to summarize distinct genomic alterations including mutations, CNAs (amplifications and homozygous deletions), and changes in gene expression or protein abundance.  An On

[2016-01-26 22:18] jjgao opened #2 "Onco Query Language (OQL) editor"
**Background**: [The Onco Query Language (OQL)](http://www.cbioportal.org/onco_query_lang_desc.jsp) is useful for advanced genomic event query . Currently, a user have to type the OQL in the gene input box. The OQL parse won't run until the user hit Query.

**Goal**: Build a improved gene input box that
- guides a user to build OQL, e.g. after a user type in a gene and put a colon ":", list all ke

[2016-02-01 15:09] jjgao opened #3 "Integrating and visualizing circulating cell-free DNA (cfDNA) results"
**Background**: Circulating cell-free DNA (cfDNA) can act a noninvasive way to detect the presence of tumor in various cancer types. In the future, cfDNA can potentially provide an approach for real-time noninvasive monitoring of treatment response and cancer progression.
- [Bettegowda et al. Detection of circulating tumor DNA in early- and late-stage human malignancies. Sci Transl Med. 2014.](htt

[2016-02-01 15:13] jjgao opened #4 "Integration and visualization of mass-spec proteomics data"
**Background**: The [CPTAC consotium](http://proteomics.cancer.gov/programs/cptacnetwork) has generated mass-spec proteomics data for [TCGA](tcga-data.nci.nih.gov) samples. cBioPortal supports integrative analysis and visualization of multi-platform data sets including mutations, copy number alterations, gene expression, and methylation. We also support reverse phase protein array (RPPA) data, but

[2016-02-01 15:13] jjgao opened #5 "Support more protein annotations in MutationMapper and GenomeNexus"
**Background**: MutationMapper is a Javascript library for visualization of mutations in the context of protein annotation. MutationMapper connects to Genome Nexus which is a resource to provide annotation for mutations. Currently MutationMapper visualizes PFAM domain and 3D structures.

![image](https://cloud.githubusercontent.com/assets/840895/12772284/eebd7e3a-c9fd-11e5-9601-5a43928e3ef5.png)

[2016-02-01 15:14] jjgao opened #6 "Improved genome overview of copy number and mutation in patient view page"
**Background**: The [patient view page of cBioPortal](http://www.cbioportal.org/case.do?cancer_study_id=ucec_tcga_pub&case_id=TCGA-BK-A0CC) shows demographic and clinical information as well as an overview of genomic changes in the patient's DNA samples. At the bottom, two tables are shown with more detailed information of those genomic changes:
1. mutations, small changes to the bases of the DNA

[2016-02-01 15:14] jjgao opened #7 "Tumor heterogeneity / evolution view in patient view"
**Background**:   A key challenge in cancer genomics is the genomic heterogeneity seen within tumors. For example, two biopsies from different sites of the same tumor may have very different mutations. Likewise, a tumor biopsy taken after treatment may show the emergence of new resistance mutations that were not detected in the original sample.

For general background, see:

[What is Tumor Heterog

[2016-02-01 15:15] jjgao opened #8 "Continue ETL pipeline development for TCGA data from GDC Portal"
**Background**:
The [Genomic Data Commons (GDC) data portal](https://portal.gdc.cancer.gov/) hosts a variety of large-scale cancer genomics data from projects including TCGA, TARGET, Foundation Medicine, and others. Data for these projects are available for public use and can be downloaded programmatically through the [GDC API](https://gdc.cancer.gov/developers/gdc-application-programming-interfac

[2016-02-01 15:16] jjgao opened #9 "OncoKB API and public facing web site"
**Background**:

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2016-02-01 15:16] jjgao opened #10 "ETL pipeline for ICGC"
**Background**: The [International Cancer Genome Consortium (ICGC)](https://icgc.org/) is an scientific consortium for collaboration among the world's leading cancer genomics researchers. The [ICGC Data Portal](https://dcc.icgc.org/) aggregates cancer genomics data from its consortium member projects, including [The Cancer Genome Atlas (TCGA)](http://cancergenome.nih.gov/) projects. While the cBio

[2016-02-01 15:17] jjgao opened #11 "Improved survival analysis"
**Background**:

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2016-02-01 15:17] jjgao opened #12 "Visualizing predicted epitopes"
**Background**:

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2016-02-01 15:18] jjgao opened #13 "Integrating and visualizing mutation signatures"
**Background**:

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2016-02-01 17:32] ugurdogrusoz opened #14 "Visualizing genomic alterations in cancer pathways in cBioPortal"
**Background**: While the network visualization module in cBioPortal is a powerful exploration tool, most biologists are more comfortable with the kind of simplified, curated pathway diagrams that are featured in many manuscripts from The Cancer Genome Atlas (TCGA) . Creating a platform that provides more intuitive pathway diagrams, yet supports these with rich data ‘decoration’ and analysis with

[2016-02-03 00:04] ecerami commented on #9
@jjgao since OncoKB is mostly proprietary, perhaps not a good option for GSOC?

[2016-02-03 00:44] schultzn commented on #9
Agreed. We are trying to open it up more, but can't promise anything right now.

[2016-02-03 02:39] jjgao commented on #9
good point. I'll close this.

[2016-02-03 02:39] #9 closed

[2016-02-05 16:29] jjgao opened #15 "Visualize BAM files and SEG files with igv.js"
**Background**: **Background**: We are using [IGV web start](https://www.broadinstitute.org/igv/) for visualization of copy number segment files in the cBioPortal. Now the IGV team has developed [igv.js](https://github.com/igvteam/igv.js), it's a good opportunity to implement a native Javascript genome viewer inside cBioPortal for viewing copy number seg data and BAM data.

![image](https://cloud.

[2016-02-07 21:40] ecerami opened #16 "Integrate Precision Cancer KnowledgeBase (CivicDB) into cBioPortal"
**Background**:  [Clinical Interpretations in Cancer (CiVIC)](https://civic.genome.wustl.edu/#/home) is an open source / open-access knowledge base for precision cancer medicine.  Curators contribute knowledge about specific genes and specific variants in cancer, and all data is available via an [open API](https://civic.genome.wustl.edu/#/api-documentation).

**Goal**: Extend the current patient v

[2016-02-11 03:13] jjgao opened #17 "Build a pipeline to map mutations to protein 3D structures"
**Background**: Protein 3D structures are very useful when studying the effect of mutations in cancer. For example, oftentimes mutations tend to occur in the same 3D space. In the cBioPortal, we map and visualize cancer mutations to protein structures.

![image](https://cloud.githubusercontent.com/assets/840895/12979410/d9c633c0-d0a4-11e5-8903-eee3fccac1bc.png)

**Goal**:
- Build sequence alignmen

[2016-02-11 15:04] #11 closed

[2016-02-11 16:18] jjgao opened #18 "Cohort comparison analysis in cBioPortal"
**Background**: In the cBioPortal, the study view page provides an overview all clinical data of an cohort (a group of samples/patients), e.g. [the TCGA endometrial cancer cohort](http://www.cbioportal.org/study.do?cancer_study_id=ucec_tcga_pub). In the study view, one can select a subset of samples and do further analysis. But currently, there is no systematical way to perform comparison analysis

[2016-02-11 23:36] inodb opened #19 "Improve timeline on patient view"
**Background**: The [patient view page of cBioPortal](http://www.cbioportal.org/case.do?cancer_study_id=lgg_ucsf_2014&case_id=P04) shows demographic and clinical information, an overview of genomic changes in the patient's DNA samples and a timeline:

![screen shot 2016-02-11 at 5 42 45 pm](https://cloud.githubusercontent.com/assets/1334004/12993234/e927e074-d0e6-11e5-9119-b0eaec109213.png)

This

[2016-02-12 16:03] zheins commented on #4
Definitely interested in mentoring!

[2016-02-17 02:34] #12 closed

[2016-02-17 21:25] #13 closed

[2016-02-17 22:25] jjgao opened #20 "Prototype Plugin framework for cBioPortal - Authentication"
**Background**: Currently, in order to develop a new feature in the cBioPortal, one has to learn many parts of the code base and modify code in different places. This has become more and more challenging for code contribution and management since increasingly more developers are joining the team.

The cBioPortal currently provides authentication support with Spring Security for Google+ (OAuth2), S

[2016-02-29 20:45] armish commented on #15
Also of interest is [pileup.js](https://github.com/hammerlab/pileup.js) ([paper](http://biorxiv.org/content/early/2016/01/26/036962)) and I will be more than happy to help someone get this going in case using an igv.js alternative is an option.

[2016-02-29 22:07] jjgao commented on #15
@armish sure, igv.js alternative is an option. Please feel free to sign yourself up as a potential mentor.

[2016-03-01 17:02] HarshVardhanKumar commented on #20
I need a help ! --    I know about Java , OSGI but lack even elementary knowledge of BioInformatics . Can I contribute ?

[2016-03-01 18:29] shuklank commented on #19
Hello, I would like to know  if this issue is part of GSOC'16 idea list . I would like to contribute in it .

[2016-03-01 21:23] armish commented on #15
thanks, @jjgao — might be hard for me to make commitments as a mentor, but happy to chime in and help you guys integrate pileup.js from the other side if there is interest :+1:

[2016-03-01 23:27] jjgao commented on #19
@shuklank: yes, it is. All open issues are part of GSOC'16 idea list

[2016-03-01 23:29] jjgao commented on #20
@HarshVardhanKumar yes, bioinformatics skills are not necessary in this project.

[2016-03-02 03:14] jjgao opened #21 "Clients to the new JSON based web API"
**Background**: Currently we have [R and Matlab clients](http://www.cbioportal.org/cgds_r.jsp) to connect to the current text based web API. We are developing our next version [JSON based web API](https://github.com/cBioPortal/cbioportal/wiki/The-API-and-API-Client-%5BBeta%5D) and would like develop our next versions of clients as well connecting to the new web API.

**Goal**: To develop a new cli

[2016-03-02 13:43] jjgao commented on #5
EBI/UniProt just released their [protein features viewer]( http://www.ebi.ac.uk/about/news/service-news/new-view-proteins) as a [BioJS project](http://ebi-uniprot.github.io/biojs-vis-proteinFeaturesViewer/developerGuide.html). It can be potentially very useful for the visualization part of this project.

[2016-03-02 16:22] smashmyster commented on #19
Hello,
Are we allowed to add more features maybe summarize some info in a box on the right when someone hover over some data

[2016-03-02 16:23] jjgao commented on #19
@smashmyster sure, please feel free to propose your ideas.

[2016-03-02 16:24] smashmyster commented on #19
Thank you.

[2016-03-02 21:20] cynicaldevil commented on #3
Would knowledge of D3.js be required too for this project?

[2016-03-02 21:40] Tcheutchoua-Steve commented on #20
Greetings , Is there any particular document or site one can have to get acquainted with the project(s) or code base. I'm good with java and have some experience with spring.

[2016-03-02 21:43] Tcheutchoua-Steve commented on #4
Greetings, Please is there any particular document one can follow to get acquainted with proteomics data ? or any other related document.

[2016-03-03 02:14] madhug-nadig commented on #19
Hi, should the Genomic Overview timeline also be modified?

[2016-03-03 06:28] rohangoel96 commented on #2
Hi @jjgao, this seems pretty interesting I would be glad if i get to work on this for GSoC '16. Please help me get started.

[2016-03-03 06:31] rohangoel96 commented on #6
Hi @jjgao and @inodb , I would like to explore more about this project and also work on it in GSoC '16. How should I start?

[2016-03-03 13:57] jjgao commented on #19
@madhug-nadig: Genomic Overview is covered in idea #6.

[2016-03-03 14:05] jjgao commented on #6
@rohangoel96 you could try to understand the current [jsp](https://github.com/cBioPortal/cbioportal/blob/rc/portal/src/main/webapp/WEB-INF/jsp/patient_view/summary.jsp) and [js](https://github.com/cBioPortal/cbioportal/blob/master/portal/src/main/webapp/js/src/patient-view/genomic-overview.js) code. You could do some debugging.

You could also try to isolate the code into a separate standalone pro

[2016-03-03 14:11] jjgao commented on #2
@rohangoel96: I'd start off with getting familiar with [The Onco Query Language (OQL)](http://www.cbioportal.org/onco_query_lang_desc.jsp) and thinking about how you can build a interface for it.

[2016-03-03 14:17] jjgao commented on #3
@cynicaldevil: Javascript stills is required. Experience with D3.js or other JS visualization library would be helpful.

[2016-03-03 14:46] madhug-nadig commented on #19
So, it is to be implemented as a separate project?

I am interested to contribute in this project. Is getting familiar with implementing d3-timeline a good start?

[2016-03-03 15:01] n1zea144 commented on #20
Yes, the code is available here:

[https://github.com/cBioPortal/cbioportal](https://github.com/cBioPortal/cbioportal) with security related code here:
[https://github.com/cBioPortal/cbioportal/tree/master/core/src/main/java/org/mskcc/cbio/portal/authentication](https://github.com/cBioPortal/cbioportal/tree/master/core/src/main/java/org/mskcc/cbio/portal/authentication)

[2016-03-03 16:02] crystal95 commented on #1
Hi JianJiong Gao ,

This project looks quite interesting to me . I am interested to take part in GSOC16 . I am third year undergraduate from IIIT-Hyderabad and have proficient coding skills . Can you please guide me on how can I proceed with the project . thanks in advance :)

[2016-03-03 16:47] tj-513 commented on #16
Hi , I'm comfortable with java , JavaScript. However , I lack knowledge on bioinformatics. Is it possible for me to contribute to this project in google summer of code 2016? If so, from where should I get started?

[2016-03-03 17:00] inodb commented on #19
@madhug-nadig The Genomic Overview (#6) project would be separate from this timeline project. We do display them on the same patient page together eventually but we'd like to build them out as separate tools. The timeline project is already separated, the genomic overview would be starting from scratch.

If you're interested in looking at this project I can recommend starting with trying to solve

[2016-03-03 18:19] zheins commented on #4
Hi @Tcheutchoua-Steve, thanks for your interest. You can check this paper out: http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1002277

In shotgun proteomics, the sample is broken down by a protease, splitting the proteins up into pieces. They are run through the spectrometer, which measures mass to charge ratio, intensity, and time at which these pieces eluded. The MS will s

[2016-03-03 18:22] jjgao commented on #1
Hi @crystal95: You would need to learn [Oncoprint.js](https://github.com/cBioPortal/oncoprintjs) and the concept of [heatmap](https://www.google.com/search?q=expression+heatmap&tbm=isch).

@adamabeshouse may be able to provide more information on Oncoprint.js.

[2016-03-03 18:29] crystal95 commented on #1
@jjgao Thanks alot for responding . Can you please tell if "Support of heat map in OncoPrint " is a potential project for GSOC16
@adamabeshouse Can you please guide me about how to start with Oncoprint.js  .

Thanks

[2016-03-03 19:34] jjgao commented on #1
@crystal95 yes, it is a potential project for GSoC16.

[2016-03-03 19:37] crystal95 commented on #1
Thank you :)
project looks quite interesting and I am eagerly waiting to start working on it :)

[2016-03-03 19:56] adamabeshouse commented on #1
Hi @crystal95, thanks for your interest! The code for oncoprint.js is currently in development, but will be released quite soon, in the next couple of weeks. We will post back here to let you know when that's the case :smile: !

[2016-03-03 20:10] sameer9311 commented on #10
Hi @jjgao and @n1zea144 , I am excited about the project idea and would like to contribute to it as a part of my gsoc 2016 project. Can you provide me a starting point or a link to the code repo to get well acquainted with the project ?

[2016-03-03 20:14] crystal95 commented on #1
@adamabeshouse
Thanks for your response :)
I am interested in taking part in GSOC16 . Can you plz suggest how can I start with the project ? Any specific tutorials or language you could suggest me till then :D

thanks

[2016-03-03 21:28] jjgao commented on #1
@crystal95: @adamabeshouse will put more doc in the Oncoprint.js project for you to build very soon. For the moment, [the cBioPortal paper](http://www.ncbi.nlm.nih.gov/pubmed/23550210) might be a good start for you to understand Oncoprint. You can also try to [run the cBioPortal code](https://github.com/cBioPortal/cbioportal/wiki) and play with the oncoprint code there. The code is under `js/src/o

[2016-03-03 23:59] adamabeshouse commented on #1
Hi @crystal95, I've just finished putting the code up at https://github.com/cBioPortal/oncoprintjs

Please don't hesitate to let me know if you have any questions! :)

[2016-03-04 07:11] jinankjain commented on #21
I would like to work on this project.

@jjgao, Could you please tell me some startup bugs so that I could get familiar with the code base.

[2016-03-04 08:57] crystal95 commented on #1
@jjgao @adamabeshouse Thanks alot people :D

Will get back to you once I go through the mentioned stuff !!

Thanks alot for detailed responses :)

[2016-03-04 09:26] kkumar12 commented on #16
Hi, i am a student of IT and have bioinformatics as additional subject  i think i can do this project.My college is Cluster Innovation Center (DU)

[2016-03-04 13:32] Tcheutchoua-Steve commented on #4
OK. Thanks for explanation and the resources. Will look at it very soon.

Best Regards
On Mar 3, 2016 7:19 PM, "Zachary Heins" <notifications@github.com> wrote:

[2016-03-04 14:32] yasirunilan commented on #7
Hi,

I'm Yasiru Nilan, 3rd year student from department of computer Science and Engineering,University of Moratuwa,Sri Lanka.I went through all the details about this particular issue and I'm happy to work on this.Is there any way to get more information about this one.Also I'm familiar with web development and these days I'm referring to cBioPortal also.

Thanks in advance.

[2016-03-04 14:48] crystal95 commented on #1
@adamabeshouse
White I run " gulp test " , I get following error :

[14:20:15] Using gulpfile ~/oncoprintjs-master/src/gulpfile.js
[14:20:15] Starting 'test'...
/bin/sh: 1: browserify: not found
[14:20:15] 'test' errored after 19 ms
[14:20:15] Error: Command `browserify test.js -o oncoprint-test-bundle.js` failed with exit code 127
    at ChildProcess.exithandler (child_process.js:637:15)
    at C

[2016-03-04 16:32] jjgao commented on #21
@jinankjain I just added a few links in the description. A good start point is to understand the structure of the new API. If you are familiar with R, you could try to reimplement some of the functions in the current R Client (cgds-r) with the new API. You could also do that in other languages.

[2016-03-04 18:01] jjgao commented on #7
@yasirunilan you could start with getting familiar with [KingFisher](https://github.com/oncoblocks/kingfisher). One main goal is to use KingFisher in the cBioPortal Patient page (e.g. http://www.cbioportal.org/case.do?cancer_study_id=lgg_ucsf_2014&case_id=P04)

[2016-03-04 18:33] adamabeshouse commented on #1
@crystal95 ah yes, sorry, you also need to install browserify

[2016-03-04 18:49] akshayjain007 commented on #21
@jjgao I would like to work on this project.
I want to develop a python client if that is fine.

[2016-03-04 21:15] n1zea144 commented on #10
Well, there is no code written yet, but what we would like is to convert genomic data files found at the ICGC.  For example, the breast data found here:
[https://dcc.icgc.org/api/v1/download?fn=/current/Projects/BRCA-US/simple_somatic_mutation.open.BRCA-US.tsv.gz](https://dcc.icgc.org/api/v1/download?fn=/current/Projects/BRCA-US/simple_somatic_mutation.open.BRCA-US.tsv.gz)  (the file is simple_som

[2016-03-05 01:48] yasirunilan commented on #7
Thank you, I will look in to kingfisher.
Yasiru Nilan

BSc. Eng(Hons) Undergraduate |Batch Representative CSE'13 Batch
Department of Computer Science and Engineering |University of Moratuwa |
Sri Lanka

Asst. Secretory | Leo Club of University of Moratuwa | Leo District 306A2

On Mar 4, 2016 11:31 PM, "JianJiong Gao" <notifications@github.com> wrote:

[2016-03-05 05:47] dilshankanchana commented on #17
hi,
I am interested in contributing to this project. I'm a 3rd year Computer Engineering undergraduate student from University of Moratuwa. I would be grateful if you can advise me regarding how to proceed with this project.
thank you.

[2016-03-05 09:28] apurvgandhwani commented on #17
Hi, I am interested in contributing to this project. I have been digging into NCBI for some time to get the better insight of what is intended from this project. As far as I understood we want to extract protein data (for now let's call it data) from NCBI (BLAST) and align it against similar type of structures in our Protein Data Bank. Updating the data will be another aspect. Please correct me If

[2016-03-05 11:24] Verma-Ashish13 commented on #18
Hello Jjgao,
I am interested in this project as an idea for Gsoc. I am having good coding background in javascript but I am not much aware about bioinformatics. Can you please suggest me,How should I start ?

[2016-03-05 13:05] rbute commented on #21
@jjgao can I contribute java based client?

[2016-03-05 13:10] p-sun commented on #17
Hi! I'm on my second-last semester for a Microbiology and Immunology Liberal and a Computer Science Minor at McGill University. I have written a proposal for idea #17 and sent it to JianJiong Gao on LinkedIn. Could you let me know if there are preferred methods of contact? Thank you very much!

[2016-03-05 13:55] atishay100495 commented on #21
@jjgao I am very excited about this project and would love to make a contribution. I have good command over Java, Python, REST API, J2EE, git, Matlab, Octave, JSON, XML and am familiar with R and Javascript too. I have familiarized myself with the new API and would like to start working on a basic Java based client first. I have already come up with a design and will try to implement a basic Java

[2016-03-05 17:23] jinankjain commented on #21
@jjgao I have started making a python client https://github.com/jinankjain/cBioPortal/blob/master/Python/cgds.py Could you please review it. Am I on right track ?

[2016-03-06 06:10] Verma-Ashish13 commented on #2
I am interested on this.How should I move forward ?

[2016-03-06 13:52] jjgao commented on #2
@Verma-Ashish13: please see my comment above. You would also need to get familiar with a few concepts in the [cBioPortal](http://www.cbioportal.org/) -- following [this paper](http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4160307/) would be a good start.

[2016-03-06 20:31] atishay100495 commented on #21
@jjgao After 2 days of continuous work, I've finally completed creating a highly robust and extensible Java Client framework for CGDS. Currently, I've only added  support for getCancerTypes(). Other endpoints and methods can be plugged into the framework very easily and I'll be adding them soon. Please review the framework here: https://github.com/atishay100495/cgds-java
Ease of use can be establi

[2016-03-07 03:13] jjgao commented on #21
Thanks to everyone who expressed interest in this project. I have added some links and notes to to clarify a few things. Since we have about 3 months of coding time and there are already a lot of prior work, we hope to finish more than two clients after summer in this project.

[2016-03-07 03:15] jinankjain commented on #21
@jjgao Yes we would able to finish clients in atleast in 4 different languages

[2016-03-07 03:19] jjgao commented on #17
@dilshankanchana We would require some bioinformatics skills in this project.

[2016-03-07 03:23] jjgao commented on #17
@apurvgandhwani we would like to map all human proteins in Ensembl to PDB and get all the alignments stored and provide the data through a web service. Please try to identify challenges in the task and break it down to sub-tasks with a detailed implementation plan.

[2016-03-07 03:25] jjgao commented on #17
@p-sun please send leave an email to the discussion group (without including your proposal link). I'll get back to you from there.

[2016-03-07 03:33] jjgao commented on #18
@Verma-Ashish13 please get yourself familiar with [this project](https://github.com/cBioPortal/iViz). It is not a big problem if you don't have bioinformatics background, but you would need some basic statistic skills.

[2016-03-07 05:47] katehara commented on #3
Hi,
I have been working on Data Visualization using D3.js for while, have taken Biomedical Engineering COurse at University level and am Interested in this project. How can I get started?

[2016-03-07 06:34] atishay100495 commented on #21
@jjgao The Java client will only take a few more days to complete fully. Then, I'll try to get started with clients in other languages as well.

[2016-03-07 07:01] apurvgandhwani commented on #17
@jjgao Thanks. That would help. I will soon come up with a structured plan with all the task breakups to you for your further suggestions.

[2016-03-07 17:22] ssinghal123 commented on #19
Hi. I am Shubham Singhal, a fourth year student at IIT Bombay. I would like to contribute to this project as part of GSOC 2016.

In d3.js we have to select the portion we want to zoom into. It would be nice to zoom where our mouse is. I looked on ways to zoom using javascript. We can use various plugins for jQuery to approach the problem. This is one of plugin: http://jaukia.github.io/zoomooz/

Pl

[2016-03-07 17:30] inodb commented on #19
@ssinghal123 Please have a look at the issues in: https://github.com/cbioportal/clinical-timeline/issues. Some form of zoom is currently implemented, but ideally we would have something like this: http://bl.ocks.org/timelyportfolio/5c136de85de1c2abb6fc

[2016-03-07 18:08] ssinghal123 commented on #19
Okay. I went over the issues with timeline. Should I start with fixing some
of issues there?
ᐧ

On Mon, Mar 7, 2016 at 11:00 PM, Ino de Bruijn <notifications@github.com>
wrote:

[2016-03-07 19:49] apurvgandhwani commented on #17
@jjgao As of now it is pretty much clear to me "What do we need to achieve from this project". I have some general doubts regarding the "why" part of the project such as
1. Who will be the end users of the project.
2. What is the need to stored aligned data as there are tools (like Clustal Omega, MUSCLE, BLAST etc.)  which can be used to aligned any protein on the go.

Also I was trying to find th

[2016-03-07 22:18] jjgao commented on #3
@katehara: it would be a good start to get familiar with cBioPortal and its code base, especially the patient view ([example](http://www.cbioportal.org/case.do?cancer_study_id=lgg_ucsf_2014&case_id=P04)). [Here](https://groups.google.com/forum/#!topic/cbioportal-gsoc/FDtvTCgoKbo) are a few tips. Once you understand the patient view, try to think about how to design a interface that can visualize,

[2016-03-07 22:32] jjgao commented on #17
@apurvgandhwani

1) The end users are the cBioPortal users -- biologists who analyze mutation data in cancer patients.
2) For performance reason, we can BLAST a protein against the whole PDB database on the fly when a user is querying a gene on cBioPortal.

Don't worry about NexusDB. I mentioned Genome Nexus because that's project we are developing for providing annotation for mutations.

I have a

[2016-03-08 06:18] atishay100495 commented on #21
@jjgao Can you please clarify the following doubt?
The following endpoint is returning an empty list:
http://www.cbioportal.org/api/geneticprofiledata?genetic_profile_ids=brca_tcga_pub_log2CNA&genes=BRCA1

However, the API Doc shows that this genetic profile data should be present:
{
    "genetic_profile_id":"brca_tcga_pub_log2CNA",
    "entrez_gene_id":672,
    "hugo_gene_symbol":"BRCA1",
    "sa

[2016-03-08 09:44] ashishtiwarigsoc commented on #16
@ecerami I am interested in cBioPortal and would like to work on this task. I have been working to setup local build environment to understand and play around with codebase, and have succeeded in most part. I am stuck at installing the seed database. Download was breaking with browser so I did the download with wget. Now, I am not able to unzip the seed file (cbioportal-seed.sql). Since, the datab

[2016-03-08 10:40] atishay100495 commented on #21
@jjgao I found a few inconsistencies in the API Doc. Can you please update it for the following:
1. /api/geneticprofiledata
There are 2 additional fields present in the REST response which are not updated in the API Doc for Mutation profiles:
a) "protein_start_position"
b) "protein_end_position"
Sample response:
{
    "genetic_profile_id": "brca_tcga_pub_mutations",
    "entrez_gene_id": "672",

[2016-03-08 12:59] apurvgandhwani commented on #17
@jjgao I got a good understanding of project but still there are few things I would like to discuss as I am in the middle of making my proposal. Is it anywhere possible to have a short skype call, anytime you suggest. This would help me a lot to put up a better technical proposal.

[2016-03-08 13:39] jjgao commented on #21
@atishay100495: good catch. ```brca_tcga_pub_log2CNA ``` was removed lately. The following profile should work.

http://www.cbioportal.org/api/geneticprofiledata?genetic_profile_ids=brca_tcga_pub_gistic&genes=BRCA1

[2016-03-08 14:44] shrumit commented on #14
Hey I'm interested in contributing to this project. I've been looking up TCGA papers trying to find pathway diagrams. Do you mean diagrams such as this one:
http://www.nature.com/nature/journal/v487/n7407/fig_tab/nature11252_F4.html

Am I correct in understanding that we are to implement a tool which imports/parses data from TCGA papers and allows it to be viewed and manipulated in cBioPortal?

Ca

[2016-03-08 18:40] atishay100495 commented on #21
@jjgao Thanks for the clarification.
I am nearing completion of the Java Client for CGDS. After that, I would like to add support for running the tests directly from an Ant target instead of depending on the testng plugin for Eclipse which would make it easier for others to run the tests. This will take a day or two. Then, we can deploy/upload the version 1.0 of the jar file to maven repository(ht

[2016-03-08 19:57] jjgao commented on #21
@atishay100495: Thanks for the update. Please hold off uploading to maven repo. At this moment, a high quality proposal to gsoc is very important.

[2016-03-09 05:07] atishay100495 commented on #21
@jjgao Thanks for the information. I will get started on it. It would be very helpful if you can provide some guidelines and suggestions for a good quality GSoC proposal.

[2016-03-09 08:11] ugurdogrusoz commented on #14
Hi, yes, the example you have is a TCGA paper. There should be about 1-2 dozen such pathways.
To see the current network view, please take a look at the tutorials here: http://www.cbioportal.org/tutorial.jsp

[2016-03-09 13:46] jjgao commented on #21
@atishay100495 A high quality proposal should break the task into sub-tasks and propose solutions for each sub-task with a detailed timeline.

[2016-03-10 05:29] atishay100495 commented on #21
@jjgao Thanks for the tip. I will keep this in mind while drafting my gsoc proposal.

[2016-03-10 15:42] atishay100495 commented on #21
@jjgao There is a small inconsistency in the API Doc for Sample Lists
The option 'sample_list_ids' should be 'sample_ids'. Can you please update it?

I have one more doubt. How does the filtering for the following endpoint work?
http://www.cbioportal.org/api/genes?hugo_gene_symbol=CDKN2AP16INK4A
This is returning results which do not even have the hugo_gene_symbol=CDKN2AP16INK4A. Is this expected?

[2016-03-11 02:13] madhug-nadig commented on #19
@jjgao @inodb partially implemented point 2 of the implementation here: [vertical line on mouse over](https://github.com/cBioPortal/clinical-timeline/pull/65)

![vertical line](https://cloud.githubusercontent.com/assets/13866921/13691201/d827f200-e75c-11e5-879d-733df8c1360e.gif)

[2016-03-11 09:56] apurvgandhwani commented on #17
@jjgao I started fetching data from BLAST using it's API. I am getting the XML data which i am parsing and and storing. Is it fine if i start BLASTing all the human protein data and start storing alignments in a local database, as this will be the first task for the project.

[2016-03-11 13:35] jjgao commented on #17
@apurvgandhwani sounds good.

[2016-03-11 15:25] atishay100495 commented on #21
@jjgao I have effectively completed the Java Client for CGDS. The tests can be viewed here:
https://github.com/atishay100495/cgds-java/blob/master/src/test/java/org/cbioportal/cgds_java/tests/CGDSJavaAPITest.java

The current test output and results can be downloaded using this link:
https://docs.google.com/uc?authuser=0&id=0B15Tsm1HLWRJTGtKYkF0VlJXTG8&export=download

Now the only remaining issue

[2016-03-11 15:49] inodb commented on #19
@ssinghal123 yes that would be good
@madhug-nadig Thanks. I've made some comments on your pull request https://github.com/cBioPortal/clinical-timeline/pull/65

[2016-03-11 16:35] Lakmini commented on #15
Hi,
I an undergraduate from University of Moratuwa. I am very interested on this project and I suppose that I would be able to contribute to this project.Please let me know how to proceed.

[2016-03-11 20:28] apurvgandhwani commented on #17
@jjgao Cool. Then I am working on completing a SQL database.

[2016-03-11 22:23] jjgao commented on #21
@atishay100495 it's a good idea to focus on writing the proposal now.

[2016-03-11 23:27] jjgao commented on #15
@Lakmini please get your self familiar with igv / igv.js and cBioPortal and try to write a proposal based on your understanding. Please don't hesitate to contact us if you have any questions.

[2016-03-12 07:04] tamimcsedu19 commented on #21
@atishay100495 I found out that replacing 'hugo_gene_symbol' with 'hugo_gene_symbols' returns the correct result.

http://www.cbioportal.org/api/genes?hugo_gene_symbols=CDKN2AP16INK4A

[2016-03-12 08:00] atishay100495 commented on #21
@tamimcsedu19 Thank you for the clarification

[2016-03-13 02:01] apurvgandhwani commented on #17
@jjgao how should i send you the draft of my proposal for review?

[2016-03-14 03:44] nv23 commented on #4
Hi! I am very interested in this project and would like to ask if it is possible to learn JavaScript while working on it? I do have a biology background in genetics and bioinformatics, but no experience with JS. Thank you in advance!

[2016-03-14 12:10] jjgao commented on #4
@nv23 Yes, it is possible. In the first step of the project, more Java and database skill is needed to integrate the proteomics data.

[2016-03-14 20:48] jjgao commented on #21
I just update a few links:

- [New API doc](https://github.com/cBioPortal/cbioportal/wiki/cBioPortal-Web-API)
- [Swagger UI to the new API](http://www.cbioportal.org/beta/swagger-ui.html#!/api-controller/getCancerTypes)

[2016-03-15 09:29] ashishtiwarigsoc commented on #16
@ecerami
Looking at the a sample API call (https://civic.genome.wustl.edu/api/genes/5), I am wondering which information is relevant for "Annotation" column?

[2016-03-15 15:23] atishay100495 commented on #21
@jjgao Thank you for sharing the links. After some detailed research into the Swagger API and Swagger Codegen, I think we should generate most of the CGDS API clients (Java, Python, Javascript, Ruby) using the Swagger Codegen tool. This way we'll be able to conform to a general API client design for all the supported languages and if there is any change on the server side, the clients can be regen

[2016-03-15 15:26] jjgao commented on #21
@atishay100495 Sounds like a good plan!

[2016-03-15 16:14] apurvgandhwani commented on #17
@jjgao after giving all the thoughts into the options for building a pipeline to update the database periodically i came with following two options:
i)Either we blast each protein from ensembl against PDB periodically (say every week as PDB releases the newly added sequences every week) and write logic to fetch the the new alignments and append these to our database. This will be repetitive proces

[2016-03-15 23:26] ecerami commented on #16
@tj-513:  apologies for the delay in writing back.  For this specific project, you would need some basic bioinformatics experience.

[2016-03-15 23:28] ecerami commented on #16
@ashishtiwarigsoc:  for general questions about installation, best place to start or restart is the wiki pages, which we have recently updated.  https://github.com/cBioPortal/cbioportal/wiki

[2016-03-15 23:29] ecerami commented on #16
@ashishtiwarigsoc:  my suggestion is to first familiarize yourself with the entire CivicDB web site, starting here:  https://civic.genome.wustl.edu/#/help/introduction

[2016-03-16 06:10] zhx828 commented on #18
For all future candidates, as JJ mentioned above, please take a look the iViz project, specially the wiki page. Please feel free to leave any messages.

[2016-03-16 18:16] zulrich91 commented on #5
Greetings I am good in java and have worked on quiet a number of projects with Java using technologies like hibernate, javafx, spring, and apache velocity, I have some javascript knowledge and I am a guy who is always ready to learn new technologies if need be to solve a programming problem.

I need documentations that I can follow to get acquainted with the technologies involved in this project a

[2016-03-16 18:27] zulrich91 commented on #10
Hi @jjgao , @n1zea144
I am equally interested in this project, but hope I am not late to start discussions as I will like to work on this project during the Google Summer of Code for this year

I just need some confirmation and I will like to start discussions with the mentors for potential milestones that could be trashed for the accomplishment of this project within the 12 coding weeks of gsoc.

[2016-03-16 20:03] jas1994 commented on #16
@ecerami Submitted my proposal.Eagerly awaiting for feedback!!

[2016-03-16 21:51] atishay100495 commented on #21
@jjgao I have shared my GSoC proposal draft on the GSoC website. Can you please review it and provide your comments for any changes or improvements?

[2016-03-17 00:52] nv23 commented on #4
@jjgao Thank you for the response! I do not have experience with databases too, unfortunately. Would it also be possible to pick that up as the project goes along? Thanks again!

[2016-03-17 07:24] apurvgandhwani commented on #17
@jjgao I have submitted my proposal. Looking forward for your feedback and suggestions.

[2016-03-17 14:09] jjgao commented on #4
@nv23 It won't be too hard to learn database. But there is only limited time in the summer. if you understand proteomics data really well, it should work.

[2016-03-17 14:42] Bharath95 commented on #21
Hi,
I have been following this project and would like to contribute for the same, I did couple of things and have a couple of questions for you so that it eases out my writing of a GSoC proposal.
1. New API doc : The current web api does not expose the RESTful services, whereas Revised Web API does expose the RESTful service.The Revised Web API is still under development. Am I correct?
2. Swagger

[2016-03-18 14:57] AkashSevana commented on #5
Hi,
I am a 3rd year Computer Science student from GITAM University, India. I am very much interested in contributing towards this project.
As far as I understood the MutationMapper is a library used for visualization and Genome Nexus is a package which holds a collection of Genome related information. Now the task is to retrieve more information from other sources and dump it into Genome Nexus in

[2016-03-18 18:49] atishay100495 commented on #21
@jjgao I've added more details for the implementation plan as asked in the GSoC proposal. Please let me know if more details are needed.

[2016-03-18 19:54] jjgao commented on #21
@Bharath95: thanks for your interest. Please see my comments below.
1. Yes.
2. Yes.
3. OK.
4. We may deprecate some APIs from the old one (such as the ones related to RPPA) if that is what you are asking.
5. That could be a good issue to be fixed :)
6. Sure. But keep in mind we only one 3 months.

[2016-03-18 22:24] mariusdotspinu commented on #4
Hello ! I would like to contribute to this project , as I have a big interest in bioinformatics , however I have no historical background regarding this topic. I did however have a contact with genetic programming techniques , but nonetheless , I would have to document myself about proteomics using the document above and some other resources . Anyway my question relies on if can I be of help , in

[2016-03-19 09:16] zulrich91 commented on #10
Greetings.

@jjgao and @n1zea144 please comment from you will be welcomed.. I followed the resources you suggested and some more others and now I have some questions for you which will help us in defining the content of my proposal.

Thanks.

[2016-03-19 22:52] Khushboo1192 commented on #20
Hi,

I am interested in the above project. I have a fair experience in spring security and also doing a course in bioinformatics.
I would like to know what exactly is the expected deliverables for the above project.

Thanks,
Khushboo

[2016-03-20 09:15] atishay100495 commented on #21
@jjgao I have successfully setup and built Swagger Codegen on my machine and used to generate CGDS client libraries for Java and Python. The links are provided below:
https://github.com/atishay100495/swagger-cgds-java
https://github.com/atishay100495/swagger-cgds-python

However, there are some issues that need to be fixed for the auto-generated clients. The generated client methods are not named

[2016-03-21 02:15] andreeabican commented on #20
Hello! I am really willing to participate in this project. I have already sent a draft proposal. Can you have a look and tell me your opinion?

[2016-03-21 23:04] fngiustozzi commented on #14
Hello!
I'm Franco from Argentina, coursing my fifth year of undergraduate studies
in Computer Science from National University of Rosario and I'm definitely
interested in this Project.
I was working a lot with javascript but I have no knowledge of bioinformatics.
I have been reading the available documentation and getting familiar with
the code. I wonder if there are some warm up tasks to do?
I'm

[2016-03-22 06:58] ugurdogrusoz commented on #14
Hi Franco, please take a look at the current network view to start with (http://www.cbioportal.org/tutorial.jsp). This one is creating networks of interest from given genes of interest. The goal here is to create tools for curation and view of TCGA pathways in the way people are used to seeing. There are roughly 1-2 dozen such pathways but using different notation. We will define and use a common

[2016-03-22 09:11] Bharath95 commented on #21
@jjgao   https://github.com/Bharath95/cbioportal-pyclient  This is the link for python client generated using swagger-codegen using cbioportal's rest api.

[2016-03-22 14:23] n1zea144 commented on #20
@andreeabican I just made some comments to your proposal.

[2016-03-22 14:44] andreeabican commented on #20
@n1zea144 Thanks! I am reading it now and I will review my proposal.

[2016-03-22 14:59] n1zea144 commented on #20
@Khushboo1192 @andreeabican Regarding deliverables.  After some thought, what we want from the project is the following:

Some more background - The cBioPortal currently provides authentication support with Spring Security for Google+ (OAuth2), SAML, Active  Directory, and OpenID.  It provides authentication (login) services and authorization (which user can access which cancer study datasets).

[2016-03-22 15:04] n1zea144 commented on #20
@Tcheutchoua-Steve In case you are still  interested, just updated project description.

[2016-03-22 15:07] n1zea144 commented on #10
Hi @zulrich91 Please ask questions as needed.

[2016-03-22 15:56] zulrich91 commented on #10
@n1zea144
Thanks for the reply, My questions are as follows

How is data from the TCGA extracted ?

I ask this question because the only way I could figure out for extracting data from the ICGC Data portal is a manual process, where by one has to search the available repositories and download a manifest that suits his choice. I thought knowing how TCGA data is extracted could be of help.

Should i

[2016-03-22 18:37] sheridancbio commented on #17
I have recently joined this channel, as a potential mentor for this project. I am somewhat new to the cBioPortal project team, but I have worked on protein structure projects before including sequence mapping between sequence databases and PDB structure file sequences.

Looking at Ensembl, there are releases every few months (Sep30, Dec8, Mar10). When moving to a new release of a sequence database

[2016-03-22 19:17] shrumit commented on #2
@jjgao @adamabeshouse
Hey I'm working on a comprehensive proposal for this project and saw that a similar task has been put in the 1.2.0 Milestone list: https://github.com/cBioPortal/cbioportal/milestones/1.2.0
(Refer to https://github.com/cBioPortal/cbioportal/issues/932)

When is 1.2.0 scheduled for released? Is this project still fair game for GSoC? I will be getting my proposal in by Wednesday

[2016-03-22 19:44] Khushboo1192 commented on #20
Hi Benjamin,
I have submitted a draft for my proposal.
Kindly Review it and let me know the suggestions.

Thanks,
Khushboo

[2016-03-23 01:42] Tcheutchoua-Steve commented on #20
Thanks for the updated description @n1zea144 , it really helps.
I have submitted a proposal and am kindly waiting for any suggestions.

I have a question,
Will the web site built have to support all 4 protocols ( Google+, SAML, OpenID, Active Directory ) or principally for Google+ and SAML ?

Best Regards

[2016-03-23 02:17] n1zea144 commented on #10
Hi @zulrich91,

I can understand why you would like to know how TCGA pipeline works in order to model ICGC pipeline.  Unfortunately, TCGA data is more consistent that ICGC data so automating data fetching is not as straightforward.  In fact, the version of TCGA data that is currently imported into cBioPortal is provided by Broad Firehose and fetched using "firehose_get" bash script.

Given the fre

[2016-03-23 02:35] zulrich91 commented on #10
Hi @n1zea144 ,
Thanks for these comments they have clarified my doubts as I was thinking of
           Automation => GUI
                    OR
CommandLineJobRunner=> Resources

[2016-03-23 02:41] zulrich91 commented on #10
Hi @n1zea144,

Yesterday, I Shared the draft proposal with cBioPortal via the GSoC portal, I wish you review that and  comment for modifications.

Thanks.

[2016-03-23 02:49] SugarCat commented on #4
Hello, @jjgao ! I am interested in this project. I'm 4th year student of the Faculty of Applied Mathematics, Ukraine. I have skills in Java programming, some experience with databases (like mySQL, PostgresSQL, H2) and primitive knowleges in JavaScript. But proteomics data is new for me. What should be the level of knowledge in it? Can I learn it in the process?

[2016-03-23 02:53] n1zea144 commented on #20
The purpose of the website is to provide a platform for implementing the pluggable framework without the additional complexity of integrating with current cBioPortal website.  If we can get Google+ and SAML working together in this website as a proof-of-concept, that would be sufficient.

[2016-03-23 05:39] atishay100495 commented on #21
@jjgao The GSoC proposal needs to submitted finally within 2 days. Can you please do a final review of the draft before I upload the pdf?

[2016-03-23 10:59] apurvgandhwani commented on #17
@sheridancbio Thanks for pointing out some very important points regarding database and new sequences. I have been trying to figure out the ways to incorporate the new alignments which we to update periodically as I have already started fetching alignments in a local database. I have explained them in detail in my proposal which i have uploaded for review. NRCB releases new protein entries every S

[2016-03-23 15:33] jjgao commented on #2
@shrumit cBioPortal/cbioportal#932 is related but it won't have most of the component in this project. We just wanted to be able to get he genes in the frontend for gene-validation purpose.

[2016-03-23 15:36] jjgao commented on #4
@mariusdotspinu @SugarCat : we are looking for someone who understands mass spec proteomics data for this project.

[2016-03-23 15:45] shrumit commented on #2
@jjgao Sounds good. I've just submitted a draft proposal for this project through GSoC. I would appreciate feedback!

[2016-03-23 18:17] jjgao commented on #14
Hi @pambot Thank you for your interest in this project. It's not too late. We are definitely interested in the proteomics data (see idea #4). Given your background, it might make sense for you to submit a proposal combining #4 and #14. Please let us know if you have any questions.

[2016-03-23 18:37] sheridancbio commented on #17
Another thought about this project: there will often be cases where the sequence present in the PDB structure file is missing large pieces of the complete protein sequence. The PDB structure may contain one domain from a multi-domain protein. There may also gaps / missing residues where the protein was not experimentally measured. And there are ambiguities (such as alternative conformations .. see

[2016-03-23 22:47] Tcheutchoua-Steve commented on #20
Ok @n1zea144 thanks

[2016-03-24 21:16] HarmanBhutani commented on #20
Hey I am interested to work on this project. I have a good knowledge of Java , Hadoop , Data analysis. I have submitted my proposal. Kindly review it and suggest changes.

Thanks
Harman Bhutani

[2016-03-24 21:45] linghong commented on #6
Hi, @jjgao and @inodb ,

I  submitted the proposal draft this afternoon. Is it possible either of you could do a quick review and give some comments, so I can make a revision before the tomorrow deadline? Sorry for giving such a short period of review time. I just got to know the Google Summer of Code 2016 two days ago.  Thank you.

[2016-03-25 00:39] inodb commented on #6
@linghong I made some comments. I think it would be good to look at the code as in @jjgao's previous comment. Overall it's fine, but more specific implementation details would be good.

[2016-03-25 15:25] linghong commented on #6
@inodb Thank you so much for your comments. I am working on the revision now.

[2016-03-28 07:36] atishay100495 commented on #21
@jjgao I will not be able to work on the project actively this week due to examinations in college

[2016-03-30 13:42] jjgao opened #22 "add an acknowledgement banner"
One use case: we would like to have the users actively acknowledge the data policies, e.g. TCGA data, and MSK data. One solution is to add one or multiple banners about the data policies. Once accepted, it will be saved in the cookie for certain time.

![image](https://cloud.githubusercontent.com/assets/840895/14143453/55834da2-f659-11e5-8960-20ad908e3faa.png)

 - [ ] add a new field in portal.pro

[2016-03-30 13:44] jjgao commented on #22
wrong repo.

[2016-03-30 13:44] #22 closed

[2016-04-22 19:57] apurvgandhwani commented on #17
@jjgao  @sheridancbio can u please provide a feedback on where i went wrong. This came as a shock to me honestly. It would be really nice if you could point out my mistakes.

[2016-04-25 13:43] Bharath95 commented on #21
Is this project still up? i'd like to work on it.

[2016-05-09 14:29] StefanGIT commented on #17
We do have a tool to visualize uniprot features or user annotated features on a pdb structure. This works in cases where a mapping (SIFTS) between pdb and uniprot exists. Whould this viewer be helpful: http://prosat.h-its.org/

[2016-06-21 09:54] singh-arpit commented on #4
Hello @jjgao
I am interested in this. I have experience in JAVA, JS and have a Masters degree in Bioinformatics. Currently working with Mass spec data for Thermo Fisher Scientific. I can take it up on weekends.

[2016-06-25 20:39] Yasara123 commented on #21
@jjgao Can I contribute to this project still now?

[2016-06-26 17:52] Yasara123 commented on #7
@jjgao @angelicaochoa  Is this project still up? i'd like to contribute. will it be possible?

[2016-11-18 23:50] jjgao opened #23 "Integrate MolecularMatch clinical trials data into cBioPortal"
**Background**:
[MolecularMatch](https://www.molecularmatch.com/) provides a resource for matching clinical trials based on a patient's cancer type and molecular data. The cBioPortal (http://www.cbioportal.org/) is a research resource for cancer genomics. One of the challenges is to interpret the great amount of genomic data it has accumulated. We have integrated a few resources, including OncoKB,

[2016-11-18 23:51] #21 closed

[2016-11-18 23:51] #20 closed

[2016-11-18 23:51] #19 closed

[2016-11-18 23:51] #17 closed

[2016-11-18 23:52] #16 closed

[2016-11-18 23:53] jjgao opened #24 "Pipeline to extract and transform GDC data"
**Background**:

[The NCI's Genomic Data Commons (GDC)](https://gdc.cancer.gov/) provides the cancer research community with a unified data repository across cancer genomic studies. GDC has provided multiple ways (web, tools, API) to access the data. It would be very useful to build a pipeline to retreive data from GDC and import them into the cBioPortal database.

**Goal**:

Building a public ET

[2016-11-18 23:54] #2 closed

[2016-11-18 23:54] #1 closed

[2016-11-18 23:55] #4 closed

[2016-12-08 20:12] jjgao opened #25 "Improving user tracking"
Google Analytics: https://developers.google.com/analytics/devguides/collection/analyticsjs/events
https://www.simpleheatmaps.com

[2016-12-17 13:11] shivanshsoni commented on #10
Hi @jjgao and @n1zea144 , I am interested in this  project idea and would like to contribute to it as a part of my gsoc 2017 project. Can you please provide me the link of repo to get acquaintd with this project?

[2016-12-17 13:25] shivanshsoni commented on #25
Hello Sir,
I want to work on this project but to track users activities we need to paste a code snippet into your website's (http://www.cbioportal.org) codebase.

[2017-01-13 05:55] ugurdogrusoz opened #26 "Collaborative construction of cancer pathways with PathwayMapper"
**Background**:
While the network visualization module in cBioPortal is a powerful exploration tool, most biologists are more comfortable with the kind of simplified, curated pathway diagrams that are featured in many manuscripts from The Cancer Genome Atlas (TCGA) . With the motivation of creating a platform that provides more intuitive pathway diagrams, yet supports these with rich data ‘decorat

[2017-01-20 11:08] #14 closed

[2017-01-23 22:50] adamabeshouse opened #27 "Make node.js command-line tool out of oncoprint.js library"
## Background ##

The code which generates oncoprints in the cBioPortal query page is separate from the rest of the codebase. Right now it can only be easily used in a javascript page, as we do in the cBioPortal. But it would be very useful for biologists to be able to create an oncoprint by just feeding data and configuration parameters to a command-line tool.

## Goal ##

The goal is to use the

[2017-02-02 16:18] jjgao opened #28 "Mutation Diagram V2"
[Under development]

**Background**:

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2017-02-02 16:27] jjgao opened #29 "Interactive web tour"
**Background**:

With more and more features getting into [cBioPortal](http://cbioportal.org/), it becomes a challenge for new users to fully utilize the site. Interactive web tours would be very useful to get new users started. There are many features which a large percentage of users don't know about because they lack prominence in the UI. For example, [group comparison](https://www.cbioportal.o

[2017-02-02 21:25] #28 closed

[2017-02-02 22:30] #10 closed

[2017-02-02 22:39] #7 closed

[2017-02-02 22:39] #15 closed

[2017-02-02 23:43] inodb opened #30 "Continuous Integration and Deployment of cBioPortal"
**Background**:
We already have an automated test and deploy solution for the public version of cBioPortal. However deployment and testing of the internal cBioPortal used at Memorial Sloan Kettering Cancer Center is a manual process. We would like to move towards a more automated deployment more tightly integrated with GitHub.

**Goal**:
Automatically test and deploy the master branch of cBioPorta

[2017-02-02 23:45] inodb commented on #25
Hi @shivanshsoni that's possible. We can evaluate different user tracking tools in this project

[2017-02-02 23:56] inodb opened #31 "Clinical Data Standardization"
**Background**:
Data in the cBioPortal is organized by studies (e.g. genomic and clinical data related to a certain publication). Recently we have made some changes that allow for more easily comparing studies' clinical data. However since a lot of that data is not standardized it is not always very easy to compare. In this project we will analyze the clinical data of various studies and see how s

[2017-02-03 00:02] inodb opened #32 "Refactor cBioPortal frontend to use React"
**Background**:
Over the last few months we have been refactoring a lot of frontend code to use React. There are still several pages left that would benefit from using React. For instance the query page has several widgets that don't use React:

http://www.cbioportal.org/cross_cancer.do?cancer_study_list=&cancer_study_id=all&data_priority=0&case_ids=&patient_case_select=sample&gene_set_choice=user

[2017-02-04 15:03] aradhyamakkar97 commented on #29
Hello,
The project looks interesting. I don't have experience in developing interactive web tours although I would like to learn it for the project. I have experience in Javascript. Can I still apply for the project? Also, recipe for the tour will be given to me or I would need to prepare them myself?

[2017-02-04 15:44] aradhyamakkar97 commented on #32
Hello,
I am interested in this project. I have knowledge of Javascript but I don't have experience with React (although I would like to learn it). Do you have any warmup/evaluation tasks for the project? How should I start?

[2017-02-06 17:11] inodb commented on #32
Hi @aradhyamakkar97! Glad to hear you are interested! For starters you could try to get this project running: https://github.com/cBioPortal/cbioportal-frontend. There are several React Tutorials mentioned in the wiki: https://github.com/cBioPortal/cbioportal-frontend/wiki/Learning. Once you got the project set up and read a little bit about React we can discuss some warmup task to implement. Let m

[2017-02-06 17:23] inodb commented on #32
@aradhyamakkar97 This might be a good issue to get started: https://github.com/cBioPortal/cbioportal-frontend/issues/160. Let me know if you have any questions!

[2017-02-07 14:17] PratyushTalreja commented on #5
Hi

I am pursuing Masters from Indian Institute of Technology Bombay. I had completed Bachelors in Information Technology. I am having a work experience of 1 year working with Cognizant Technology Solutions in Java domain. Also, I have the experience of JavaScript and Web API. I have successfully completed my GSoC 2016 project. I am interested in this project. Can you please tell me the further st

[2017-02-07 14:17] PratyushTalreja commented on #5
Hi

I am pursuing Masters from Indian Institute of Technology Bombay. I had completed Bachelors in Information Technology. I am having a work experience of 1 year working with Cognizant Technology Solutions in Java domain. Also, I have the experience of JavaScript and Web API. I have successfully completed my GSoC 2016 project. I am interested in this project. Can you please tell me the further st

[2017-02-07 15:24] aradhyamakkar97 commented on #32
Thanks for replying!  I have started learning from the resources you mentioned and I'll try to solve the issue as soon as possible.

[2017-02-07 17:22] inodb commented on #32
Thanks @aradhyamakkar97!

[2017-02-07 17:35] inodb commented on #32
Also @aradhyamakkar97 If you send me an email (x at y dot pm where x=y=ino), I can see if I can add you to our group chat, might be useful to get answers to your questions

[2017-02-10 02:21] GayanSamuditha commented on #29
Hi,
I'm interesting in this project and i have experience in developing web applications, sites (interactive web tours) using boostrap and java scripts.  So i was a Biology student in school i have knowledge in biological sides and i'm very interested in this project. So can u give some information about , how i do the project what kind of i would need to prepare myself.

[2017-02-14 21:34] jjgao opened #33 "Support mRNA expression from normal samples"
**Background**:

In the [cBioPortal](http://cbioportal.org), gene expression data can be used for many analysis, including: OncoPrint, Plot tab correlation, cross cancer expression, etc. See [our Sci. Signal. paper](https://www.ncbi.nlm.nih.gov/pubmed/23550210) for details. A frequently asked feature is to integrate expression data from normal sample into these analyses.

**Goal**:

- Import norma

[2017-02-17 14:17] jjgao commented on #29
@aradhyamakkar97 @GayanSamuditha : Thanks for you interest. Experience in JS would be useful / necessary. We will help develop the recipe of the tour.

To get started, please get familiar with cBioPortal (http://www.cbioportal.org/). You may find our tutorial paper helpful (http://www.ncbi.nlm.nih.gov/pubmed/23550210).

[2017-02-17 14:38] jjgao commented on #5
Hi PratyushTalreja,

Thank you for your interest. We may want to work with the PDB group on their viewer (https://github.com/rcsb/proteinfeatureview). It would be useful to get familiar with that.

[2017-02-22 20:51] dorianb96 commented on #24
Hi,

I am a student very interested in this GSOC project.

The general idea of the project seems very clear, but for writing a proposal I would probably need to focus on the exact implementation details.

Is there a contact point I could ask for more details about this project?

WIth regards,
Dorian.

[2017-02-27 02:44] sagar-shah94 commented on #27
I am interested in this project . i would like to work on this project.i have experience in node js,express.i have already cloned a repository and going through code.what else should i know to work on this project?

[2017-02-27 04:10] sagar-shah94 commented on #26
I am interested to work on this project.i have experience in working with node js ,express.i have little bit of kowledge of D3 js for visulisation.i have already cloned pathway-mapper repository and going to through code to understand flow of it.i have knowledge of **websocket** too because i think we will need to use websocket to support collaborative mode. what else should i know to work on this

[2017-02-27 19:01] tessact commented on #32
Hello @inodb I am interested in collaborating on this project. I am experienced Reactjs Developer. Kindly guide me on where to start.

[2017-02-27 19:04] apurvgandhwani commented on #32
Hello @inodb I am interested in contributing to this project. I am an experienced React developer. Kindly guide me on where to start?

[2017-02-27 19:09] GeekyShiva commented on #29
Hi @jjgao , I am highly interested in this project , though i am very much familiar in developing various web app/ extensions/ scripts in Javascript , there is still an option of developing a light weight tour of the various website component using WebGl and javascript for better and animated visualization or the website. How do you think about this idea?? I wish to discuss more about it if you li

[2017-02-27 19:51] articuno12 commented on #31
Hi @inodb. I liked your idea and would be  interested in working on this idea. I have experience with diverse databases like  MySQL , Basex and Neo4j.I have worked on several projects based on python and  have experience in designing a database for fast and proficient data retrieval. I would like to discuss on this idea further with you.

[2017-02-28 05:08] spetluru commented on #18
Hello,
I have a few redesign ideas based on my review of current research literature examining cohort analysis. How would you recommend communication for additional clarifications and recommendations while I begin to draft my project proposal?

[2017-02-28 07:47] ugurdogrusoz commented on #26
@sagar-shah94 A good point to start is looking at the current code and functionality. Many of the new functionality should mostly come from Cytoscape.js extensions. You should review those as well.

[2017-02-28 09:04] dracarys09 commented on #30
@inodb any particular reason for choosing Jenkins ? Can we use TravisCI ?

[2017-02-28 12:33] boratonAJ commented on #24
Hi,

I am a masters student, and I am interested in this idea. Would like to work this. Thanks

[2017-02-28 15:28] kapilkd13 commented on #33
Hi
I would like to work on this project. Right now i am deploying cBioPortal on my local machine. Is there a implementation of z-score Algorithm. If yes, it would be great if you can point me to it.

[2017-02-28 15:56] zhx828 commented on #18
Hi @spetluru,
Thanks for your interests! You are welcomed to post any questions in here or in our google group [link](https://groups.google.com/forum/#!forum/cbioportal-gsoc)  If you have Slack, we would love to have you in our GSoC channel as well. Please feel free to ask if you have any other questions. Thanks.

[2017-02-28 16:27] zhx828 commented on #18
@spetluru please send your email to hongxin@cbio.mskcc.org Thanks.

[2017-03-01 12:13] sandeepm96 commented on #6
Hello Sir! I am very interested in working on this project for GSoC. Since I am new to the community I require your guidance on this. For getting started, I have cloned this repository https://github.com/cBioPortal/cbioportal and deploying the code on my local server.

[2017-03-01 17:18] smoke10 commented on #33
Hello Sir,
 I am interested in this project. I am a beginner at GITHUB  please guide me how to contribute to the project . I am good at JAVA programming  and algorithms . I need your help . Thanks.

[2017-03-03 04:51] Thuva4 commented on #32
Hello,
I am interested in this project. I am currently working on a react project and have experienced in Javascript.
I have already cloned the repository and going through code.what else should i know to work on this project?

[2017-03-03 20:21] latifaabdullayeva commented on #32
Hi @inodb,

After building the project from the source code, I have noticed that many components which are present in the production version of the portal are not implemented yet in a new one.

- Could you please specify which components / widgets you want to be re-written?
- Do you have any suggestions on what is the best starting point for learning / grasping the codebase?
- Are you accepting pu

[2017-03-03 20:28] latifaabdullayeva commented on #30
Hi @inodb,

I have a few questions regarding description:
 - Are there any specific requirements to the CI pipeline? For example, do you have any static analysis plugins in the toolchain?
 - How often deployment should occur? Based on new commits or git tags?
 - What is the test environment at current stage? Do you have any end-to-end tests which require special environment configuration?

I would

[2017-03-03 21:31] inodb commented on #30
Hi @dracarys09 and @latifaabdullayeva! Thanks so much for your interest!

@dracarys09

- We already use Travis CI, see: https://github.com/cbioportal/cbioportal and https://github.com/cBioPortal/cbioportal-frontend for public data. Additionally we want to use a local CI set up to test the portal with private data loaded. Also for reviewing purposes it would be nice if we could automatically deploy

[2017-03-04 01:17] TheLayman commented on #24
@jjgao I'm new to cBioPortal. I have prior experience in Java and Automation. Can you please guide me through the setting up process and all?

[2017-03-05 23:29] anupam412 commented on #25
Hello,I'm interested in working on this project.I have a prior experience of Javascript and Jquery ,though i have never used GA in any project but willing to do it..I can implement this feature.Can you guide me through where to start..

Thank you

[2017-03-06 04:29] cptnjk commented on #33
Hi
I am good at JAVA and would like to work on this project, can you please guide me as to how to get started, thanks.

[2017-03-07 10:40] enigmaeth commented on #25
@jjgao I have prior experience with Google Analytics. The GA tracking is simply limited to server-side tracking.

To log user interaction within one page like knowing whether a user clicks on any of the multiple tabs or what tags does he hover on, we need to build a client-side tracking engine. We can take the help of the available libraries to build the engine and add custom trackers as and when

[2017-03-07 16:12] inodb commented on #32
Hi @aradhyamakkar97, @Thuva4 , @latifaabdullayeva !

Thanks so much for your interest!

I would start with trying to run the frontend code as described in the README:

https://github.com/cBioPortal/cbioportal-frontend

Then once you got that running, you could have a look at some of the easier issues:

https://github.com/cBioPortal/cbioportal-frontend/issues?q=is%3Aopen+is%3Aissue+label%3A%22Diffi

[2017-03-07 17:42] sandeepm96 commented on #6
@inodb @jjgao It would be really great if a slack/gitter channel could be setup for further discussions on GSoC project ideas. :)

[2017-03-07 18:28] inodb commented on #6
Hi @sandeepm96! Thanks for your interest in this project! I sent you an invite to the slack channel.

Please also try to get the new cbioportal frontend repo running: https://github.com/cBioPortal/cbioportal-frontend. We have been iteratively replacing components of the old site with new React components. This component will be developed in the new frontend.

[2017-03-07 18:34] sandeepm96 commented on #6
Thank you @inodb sir.
I got to know about the new frontend repository a little later. I have made it run and trying to understand the codebase now. I will try solving issues soon. :)

[2017-03-07 20:31] n1zea144 commented on #33
@kapilkd13 You can find the library for calculating z-scores in this js file:

[cbio-stat.js](https://github.com/cBioPortal/cbioportal/blob/master/portal/src/main/webapp/js/src/cbio-stat.js).

Note, the denominator would change if tcga normal samples were included (or GTEx data).  I think one approach would allow the user to choose the reference cohort.

[2017-03-08 05:31] Thuva4 commented on #23
Hi @jjgao
I am interested in this project. I have worked with  Javascript , Java and web API in my past projects. Do you have any warm-up tasks for the project? How should I start?

[2017-03-09 15:29] n1zea144 commented on #24
hi @TheLayman Our online docs is the best place to start, section 2. cBioPortal Deployment.

[https://cbioportal.readthedocs.io/en/latest/](https://cbioportal.readthedocs.io/en/latest/)

[2017-03-09 16:08] jjgao commented on #23
@Thuva4 getting familiar with the cBioPortal (cbioportal.org) and its codebase (https://github.com/cBioPortal/cbioportal) and MolecularMatch API (https://api.molecularmatch.com/) would be a good start. Please let us know if you have specific questions.

[2017-03-09 21:16] pratikabhinav commented on #29
Greetings from India @jjgao @schultzn.
I went through the several ideas listed on the _ideas_ page, and after much thought I have picked this one ( #29 Interactive web tour) to move forward with. I also have the outline/first draft of the proposal ready as per the template mentioned in the guidelines. But I am still confused as to where do I send (post) my proposal? I could not make that out from

[2017-03-10 04:00] aditya1315 commented on #32
Hi @inodb,

I ran into a few problems while building the project, could you help me out? (specifically, webpack is failing to build)

While trying to run the node server, I get the following errors,

[code]
I tried to clean the cache and re-run this, but without any success. In the webpack config file, I made the silent: false for the environmentEnv variable. Any help is appreciated.

[2017-03-10 04:13] aradhyamakkar97 commented on #32
@aditya1315 use mobx branch. It worked for me.

[2017-03-10 11:06] aditya1315 commented on #32
@aradhyamakkar97 this error still persists in mobx branch also

[2017-03-10 16:41] shehan1993 commented on #33
Hello sir,
I am shehan,

According to my understand this project is gene data analyzing project (correct me ).
Please give some extra reference read about this project or related to this kind of project.

[2017-03-10 17:35] dimuthnc commented on #31
Is this project requires some kind of biological knowledge to analyze those clinical data?

[2017-03-11 22:57] stefanches7 commented on #24
Hello, dear contributors as well as mentors,

this idea sounds interesting for me, especially because it's so tightely coupled with bioinformatics, which I love so much.

Anything but "improve our load pipeline" seems to be clear: which pipeline exactly is mentioned here? What exactly does it load?

Kind regards,
Stefan.

[2017-03-11 23:09] stefanches7 commented on #23
Hello, @jjgao,

as far as I understand what's really crucial in this issue is really speed of loading.
Therefore: how close would it be possible to work with Molecular Match engineers, to which grade could the API be adapted to be quick especially for requests we need?
Does cBioPortal has any restrictions/capabilities on distant calls such those to Molecular Match?

Thanks!

[2017-03-13 21:30] jjgao commented on #29
Thanks for everyone's interest. Again, a good starting point is our paper (https://www.ncbi.nlm.nih.gov/pubmed/23550210). For example, if it would be great the examples in the paper can be implemented.

[2017-03-15 16:37] enigmaeth commented on #25
@jjgao Please let me know of further details.

[2017-03-15 16:44] shivanshsoni commented on #25
@inodb yaa sir I would like to work on this as my GSOC project. If you provide me further details I will work on it ASAP.

[2017-03-16 18:12] bishal1995 commented on #31
Hi @ritikakundra , I am eager to work on this project, I have designed database from e-commerce data to species data along with geographical data, please have a look on my previous work experience and ping me if I can contribute.
[BishalPaulCV.pdf](https://github.com/cBioPortal/GSoC/files/848638/BishalPaulCV.pdf)

[2017-03-17 04:26] palset commented on #6
Hi, I am interested in this project. I realise I am a bit late, and have cloned the cbioportal repository and the cbio-frontend repo. How do I proceed? :)

[2017-03-18 12:50] binhudakhalid commented on #27
I am a Final year engineering student pursuing my Bachelor's degree in Computer Science from University of Karachi. I love to contribute on open-source projects. I have development experience in
C, Java, R, JavaScript and its libraries such as Node, angular and express. I am hobbyist bash script-er.

[2017-03-22 19:48] Parth2311 commented on #31
Hi, I would like to work on this project. I have good knowledge of Database management system and I am decent coder in python. I would be glad to work on a project aimed at helping eradicate cancer from the world.

[2017-03-23 19:09] itsmekate commented on #27
Hello! I'm interested in this issue. Currently I'll just take a look and try figuring out possible solutions. Anyway, just writing to let you know. (Sure, I have background in JavaScript, Node.js etc too)

[2017-03-23 20:26] koushikAB commented on #29
Hello @jjgao  @schultzn
I am presently studying 2nd year of my dual degree (M.Sc in biological sciences and B.tech) in BITS Pilani , India
After lots of thought and understanding every project of cBioPortal ,I consider myself capable and is very excited to do this project.
Currently i have experience in working with 2 websites and have certifications in web designing from sites like udemy
And i am

[2017-03-24 11:56] amsonu commented on #31
Hello,I am interested to work on this project.I have good knowledge in mysql and other database systems.Please guide me through further steps.

[2017-03-24 15:37] jajodiaraghav commented on #27
Hi there,
I would really like to spend my summers working on this idea. Apart from the requirements stated above, what else should I do in order to build a strong proposal?
Thanks

[2017-03-24 20:13] makkBit commented on #27
Any starting pointers on how to use oncoprint.js API please? @adamabeshouse

[2017-03-25 13:33] DixitPatel commented on #24
Hello @n1zea144,
If I am not mistaken, building the basic batch framework (Job Workflow) would be a part of the scope as well ? ( In addition to implementing Service endpoint to get GDC data )
Also for importing the data from GDC, is there a scope on how many primary sites need to be considered ? Since there are ~16 file formats mentioned [here](https://cbioportal.readthedocs.io/en/latest/File-For

[2017-03-25 15:21] makkBit commented on #27
I have a question.
After the user enters the data and configs, how the created oncoprint should be displayed to the user.
I think writing it to file in pdf, png or svg format is desired. right?

[2017-03-25 22:31] mzeng29 commented on #5
Hello,

My name is Jane and I am interested in this project. I am preparing proposal for this project now. And I have few questions related to implementing the tasks. Where can I find the model annotation data in Genome Nexus database? As it is mentioned above, Genome Nexus Web API needs to provide annotation data. Will Genome Nexus be a website available online?  I appreciate your help.

Thanks.

[2017-03-27 03:08] bigblind commented on #25
If you use [heap analytics](https://heapanalytics.com/), they basically track any clicks and pageloads, possibly other events as well. The advantage with them is that you don't need to know all the events you want to track beforehand. In their editor, you can just select an element from your site, and see how many people clicked it, narrow down your audience as you would with GA, etc. I don't thin

[2017-03-28 18:23] inodb commented on #32
Thanks so much for your interest all! Best is to use integration branch now.

[2017-03-29 13:08] jjgao commented on #24
@DixitPatel: As all pipeline work, some basic workflow will be necessary, but the code to convert different data format is more important. For this project, the end goal is to be able to extract data from GDC and transform them into the cBioPortal format.

For your second question, TCGA / GDC has most of these data. It would be useful to find what's available in GDC and list them in pair with the

[2017-03-29 16:45] Shane-Neeley commented on #23
Hi @stefanches7 , @jjgao , @Thuva4 I’m an engineer at MolecularMatch. Response time is about 1-2sec (see status.molecularmatch.com) because the data packets for trials are pretty big. So you don't want to do those calls when you load a cBioPortal page.
You could pre-formulate the query when you load the page. Then hovering/clicking an icon on each row could perform the trial search for that mutati

[2017-03-30 03:43] MLPJ commented on #26
Hi, I'm too interested in the project. At the time I'm rich with HTML5, JavaScript and CSS. At the moment I'm going through Cytoscape.js too. So I hope to give my maximum to the project. And what other things do you propose me to get in touch with before starting the project?

[2017-03-30 10:29] pieterlukasse commented on #5
hi @jjgao, for the visualization part I would like to propose Protter: http://wlab.ethz.ch/protter/start/
It is open source (GPL 3) https://github.com/ulo/Protter

[2017-03-30 10:39] pieterlukasse commented on #3
hi @pambot , not sure what the status is here, but I am still interested in seeing a graphical mock-up.

[2017-03-30 12:19] jjgao commented on #5
@mzeng29 thanks for you interest. You can find the current genome nexus api here: http://annotation.genomenexus.org/swagger-ui.html

[2017-03-30 13:06] jjgao commented on #3
@pambot

A "liquid biopsy" procedure is one event (one dot) we can put on the timeline. But we are more interested in visualizing mutations detected from the cfDNA over time. Being able to visualize the allele frequency of different mutation and see how change over time is the key. Also keep in mind that we may be dealing with hundreds of mutations, so visualizing all of them would be challenging.

[2017-03-30 15:21] ugurdogrusoz commented on #26
@MLPJ I would look at current PathwayMapper code and potential Cytoscape extensions to use from

[2017-03-30 19:01] vchilkuri commented on #32
Hello @inodb , I am Venkata Chilkuri. I am a graduate student at IUPUI and I do have experience with Javascript and ReactJS. I have created a single page application using react-router where a form was created to get observations from multiple JSON files using API calls. I am very interested in this project and would like to contribute to this project. Does this project use only react or any other

[2017-03-31 01:57] MLPJ commented on #26
Thank you

[2017-04-01 13:51] msc-jinal commented on #23
Hi,

I study about this issue, Here is my idea to achieve this requirements.

I am thinking, the use of Ajax based asynchronous call with pre-formulated queries. When page load, all queries formulated and queued for API service call, but page will load without waiting response from MolecularMatch. This way page loaded smoothly, but when response received from server call, the results with be repla

[2017-04-02 22:31] Ishu-Kalra commented on #6
Hi, I am looking into this.

[2017-04-03 19:05] Shane-Neeley commented on #23
Hey @msc-jinal that's a good idea. Do you plan on submitting a proposal to GSoC?

[2017-04-03 19:09] msc-jinal commented on #23
Hi,

I was thinking to submit proposal in GSoC, but now submission is closed.
Do you think, still I can write proposal and submit?

I am interested to implement this project. Let me know if any
possibility/alternative way to work on this project.

Regards,
Jinal

On Tue, Apr 4, 2017 at 12:35 AM, Shane Neeley <notifications@github.com>
wrote:

[2017-05-04 16:05] evoxtorm commented on #33
Hey this project is selected for gsoc 2017 or not.

[2017-09-27 21:10] jjgao opened #34 "Mutation burden plot"
**Background**:

Different cancers have different mutation burdens. One nice way to visualize them is the so-called [hamburger plot](http://www.nature.com/nature/journal/v499/n7457/full/nature12213.html#f1).

![image](https://user-images.githubusercontent.com/840895/30937878-280d66b8-a3a6-11e7-966a-a6a1289f6279.png)

**Goal**:
Visualizing mutation burdens on the cBioPortal

**Approach**:
* If nece

[2017-10-16 06:29] nilaypathak commented on #34
hello sir,
I am a web developer and a Data Science Enthusiast from IIT Kharagpur, India.
I also have experience in working with ReactJS for the past couple of months.
I am interested in the project.
Can you please suggest me how to get started.
Thank You

[2017-11-03 19:13] jjgao opened #35 "Annotate fusion based on break points"
**Background**:

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2017-11-08 19:18] inodb opened #36 "Patient View based on static user input"
Give as input
- mutation data (VCF File)
- clinical data
- copy number data

Display Patient View HTML

[2017-11-13 13:45] pieterlukasse opened #37 "Update R API"
**Background**: would be good to update current R API of cBioPortal according to the latest web API as found in http://www.cbioportal.org/api . Furthermore, it would be good to document ways to easily integrate this with current authentication and authorization methods supported by cBioPortal.

**Goal**: updated R API that can be easily updated again when new additions are made to the web API.

**

[2017-11-13 13:58] pieterlukasse commented on #34
Nice @jjgao :+1: Idea: maybe cancer type should *not* be the only possible item on the x-axis?

[2017-12-14 23:25] inodb opened #38 "Copy number visualization on study view (combine all segments)"
**Background**:

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2017-12-15 08:03] ugurdogrusoz opened #39 "Improving PathwayMapper for collaborative construction of cancer pathways"
**Background**:
While the network visualization module in cBioPortal is a powerful exploration tool, most biologists are more comfortable with the kind of simplified, curated pathway diagrams that are featured in many manuscripts from The Cancer Genome Atlas (TCGA) . With the motivation of creating a platform that provides more intuitive pathway diagrams, yet supports these with rich data ‘decorat

[2017-12-15 08:03] #26 closed

[2017-12-20 12:21] kunal-mohta commented on #39
Hello @ugurdogrusoz
I have experience in HTML, CSS and JavaScript, and am currently learning Node.js.
What can be my initial steps to contribute to this project?

[2017-12-22 22:43] jjgao opened #40 "Integrate Mutational Signatures into the cBioPortal"
**Background**:
[Signatures of mutational processes in human cancers](http://cancer.sanger.ac.uk/cosmic/signatures) have been detected in many cancers.

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2018-01-08 08:01] ugurdogrusoz commented on #39
@kunal-mohta You could investigate current PathwayMapper implementation (read the paper and review the related GitHub repository) in detail to start with. You also need to learn Cytoscape.js and extensions of Cytoscape.js that we use in PathwayMapper project.

[2018-01-08 12:03] kunal-mohta commented on #39
@ugurdogrusoz Thank you for replying.
I will start with reading of the PathwayMapper paper and repository and will get to know about Cytoscape.js.

[2018-01-09 11:21] ugurdogrusoz opened #41 "Integrating PathwayMapper into cBioPortal"
**Background**:
While the network visualization module in cBioPortal is a powerful exploration tool, most biologists are more comfortable with the kind of simplified, curated pathway diagrams that are featured in many manuscripts from The Cancer Genome Atlas (TCGA) . With the motivation of creating a platform that provides more intuitive pathway diagrams, yet supports these with rich data ‘decorat

[2018-01-10 16:03] ersinciftci commented on #37
@pieterlukasse https://github.com/swagger-api/swagger-codegen claims they have an R client generator now, not sure if it works.

[2018-01-21 16:08] theboywholived commented on #40
Hello,
I am relatively new to Open Source Development but I have been working with Java for a while. However, this project looks interesting and I am willing to work on it for GSoC. Could you suggest some small task by which I can gauge whether I have enough skill set for this project?
Thank you.

[2018-01-25 14:24] #38 closed

[2018-01-25 14:33] #36 closed

[2018-01-25 14:35] #33 closed

[2018-01-25 14:35] #32 closed

[2018-01-25 14:39] #27 closed

[2018-01-25 14:41] #23 closed

[2018-01-25 14:41] #18 closed

[2018-01-25 14:41] #3 closed

[2018-01-25 14:45] #31 closed

[2018-01-25 14:45] #24 closed

[2018-01-25 15:11] #30 closed

[2018-01-25 15:53] inodb commented on #35
closed until we have more specific ideas

[2018-01-25 15:53] #35 closed

[2018-01-25 16:12] n1zea144 opened #42 "Pipeline to extract and transform GDC data (cont)"
**Background**:

[The NCI's Genomic Data Commons (GDC)](https://gdc.cancer.gov/) provides the cancer research community with a unified data repository across cancer genomic studies. GDC has provided multiple ways (web, tools, API) to access the data. It would be very useful to build a pipeline to retreive data from GDC and import them into the cBioPortal database.

**Goal**:

Continue work that wa

[2018-01-25 17:06] n1zea144 opened #43 "Prototype Neo4J Graph database as a DBMS alternative to MySQL"
**Background**:

As the number and size of cancer datasets increase, performance of the DBMS is critical to providing an adequate cBioPortal user experience.

**Goal**:
Continue work started in investigating the viability of using [Neo4j](https://neo4j.com/).  Potential areas of work include:
- Working with a test dataset, optimize modeling of genomic data, including mutation, cna, expression with

[2018-01-25 17:58] inodb commented on #37
@ersinciftci @pieterlukasse I have used it a bit for genome nexus, seems to work: https://github.com/genome-nexus/genome-nexus/blob/rc/notebooks/genome_nexus_r_example.ipynb. More detailed example also connecting to cBioPortal API here: https://github.com/genome-nexus/genome-nexus/blob/rc/notebooks/genome_nexus_python_example.ipynb

[2018-01-25 18:21] inodb opened #44 "cBioPortal Data Collection Automation"
**Background**:
[cBioPortal](www.cbioportal.org) collects a ton of data from all kinds of studies. See the homepage for an overview. Whenever data comes in from other people, a lot of manual curation needs to be performed to make sure things work. We would like to automate parts of this process. Whenever somebody opens a Pull Request to our [datahub](https://github.com/cBioPortal/datahub) the data

[2018-01-25 18:21] inodb opened #84 "cBioPortal Data Collection Automation"
**Background**:

The [cBioPortal](www.cbioportal.org) is an open-access, open-source resource for interactive exploration of multidimensional cancer genomics data sets, which are collected from a multitude of sources such as published research papers, publicly available data repositories, and private data sets. Please refer to the [cBioPortal](www.cbioportal.org) home page for an overview.

Whenev

[2018-01-25 18:23] #6 closed

[2018-01-25 18:39] n1zea144 opened #45 "REDCap Dashboard"
**Background**:

[REDCap](https://www.project-redcap.org/) is an application to collect clinical data on patients.  We would like to develop a web application that runs on top of REDCap which makes it easy to create projects inside of REDCap which contains clinical attribute terms available in a separate clinical attribute dictionary service.

**Goal**:

Convert existing REDCap Dashboard prototype

[2018-01-25 18:59] inodb opened #46 "React Component Scatter Plot"
**Background**:
[cBioPortal](https://github.com/cbioportal/cbioportal) has various scatter plots throughout the website. See e.g.: http://www.cbioportal.org/study?id=msk_impact_2017#summary. We would like to be able to support multiple panels and correlation lines. We've been looking at [Victory Charts](https://formidable.com/open-source/victory/docs/victory-scatter/#groupcomponent). It might be w

[2018-01-25 19:14] inodb opened #47 "Add myvariant.info source to Genome Nexus REST API"
**Background**:
[Genome Nexus](http://genomenexus.org/#/home) is a service that gives information about any given change in the DNA by aggregating a variety of other variant information APIs. We use it in [cBioPortal](www.cbioportal.org). We would like to include [MyVariant.info](http://myvariant.info/) as another source of information in this Knowledge Base. Genome Nexus is a Spring boot applicat

[2018-01-26 09:00] pieterlukasse commented on #37
@inodb @ersinciftci thanks for the feedback. Do you think this topic is still GSOC worthy or is it too simple now?

[2018-01-26 20:31] inodb opened #48 "Swimmer's Plot and Waterfall Plot for Treatment Analysis"
**Background**:
We are expanding [cBioPortal](www.cbioportal.org) to allow for better analysis of treatment and response information.  Two visualizations would be incredibly useful:
- A swimmer plot is a common visualization for showing patient response information. See for example: https://peltiertech.com/swimmer-plots-excel/.
- Another common visualization is the waterfall plot, see e.g.: https:

[2018-01-26 22:16] #37 closed

[2019-01-07 23:21] jjgao commented on #46
I don't think we need this anymore with the density plot.

[2019-01-07 23:21] #46 closed

[2019-01-07 23:23] #39 closed

[2019-01-09 15:41] ugurdogrusoz opened #49 "Separating the Network View as a standalone module"
**Background**:
The network visualization module in cBioPortal is a powerful exploration tool with data coming from [Pathway Commons](http://www.pathwaycommons.org/). However, this module's interaction with the rest of the portal components is not properly done, often resulting in conflicts in third party libraries or resources not located properly.

**Goal**:
The aim of this project is to package

[2019-01-09 15:50] #47 closed

[2019-01-14 08:22] sandertan commented on #48
RFC for the project Sjoerd mentions: https://docs.google.com/document/d/1jbpnWjlVxEpigFkNhr9LzhZ0rmUy9WleYa_neUSV4Js/edit

[2019-01-15 18:21] inodb commented on #48
Thanks @Sjoerd-van-Hagen and @sandertan! I'll close this for now then

[2019-01-15 18:21] #48 closed

[2019-01-15 20:48] #43 closed

[2019-01-15 20:48] #45 closed

[2019-01-21 15:02] inodb opened #50 "Patient Similarity"
**Background**:
Given the genomic and clinical data of a patient, finding patients with similar genomic and clinical profiles is potentially very useful for disease diagnosis or rediagnosis diseases and treatment decisions based on previous similar patients.

**Goal**:
The overall goal is to develop a new tab Similar Patients in Patient View (e.g. [a TCGA endometrial patient](http://www.cbioportal

[2019-01-21 15:03] inodb opened #51 "Neoantigen prediction from mutations"
**Background**:

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2019-01-21 15:03] inodb opened #52 "User data upload"
**Background**:

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2019-01-21 15:03] inodb opened #53 "Evolutionary analysis"
**Background**:

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2019-01-21 15:04] inodb opened #54 "Download files for a virtual study"
**Background**:
[cBioPortal](http://www.cbioportal.org/) is a visualization platform for analyzing genomics data. The public cBioPortal data files are organized per study and available for download on [datahub](https://github.com/cBioPortal/datahub/). However, for virtual studies made by the user, there is currently no option to download the files. Tutorial 4 shows how to make a virtual study: htt

[2019-01-21 15:04] inodb opened #55 "Pie chart selection in study view -- similar to google sheets"
**Background**:

**Goal**:

**Approach**:

**Need skills**:

**Possible mentors**:

[2019-01-21 15:05] inodb opened #56 "Genome Nexus Command Line Client"
**Background**:
Genome Nexus is a web service that gives information about any given change in the DNA, also known as a variant or mutation. It is an aggregation service that combines variant information from multiple sources and exposes that information through a REST API. Aside from the REST API we also provide a command line interface which allows one to annotate a file with variants (https://g

[2019-01-21 15:06] inodb opened #57 "Genome Nexus Jupyter Notebooks for Command Line Clients"
**Background**:
Genome Nexus is a web service that gives information about any given change in the DNA, also known as a variant or mutation. It is an aggregation service that combines variant information from multiple sources and exposes that information through a REST API. The API is defined using OpenAPI (https://www.genomenexus.org/swagger-ui.html). This allows one to generate clients in severa

[2019-01-21 15:06] inodb opened #58 "Genome Nexus Variant Page"
**Background**:
Genome Nexus is a web service that gives information about any given change in the DNA, also known as a variant or mutation. It is an aggregation service that combines variant information from multiple sources and exposes that information through a REST API. For this project we would like to make a variant page that shows all the information we have about a particular variant. This

[2019-01-21 15:07] inodb commented on #52
I think this is the same as: https://github.com/cBioPortal/GSoC/issues/44

[2019-01-21 15:07] #52 closed

[2019-01-21 15:09] jjgao opened #59 "Extend chart types in study view"
**Background**:
In the study view page ([an example](http://www.cbioportal.org/study?id=ucec_tcga_pub)), currently, we support a few different chart types including pie chart, bar chart, 2-D density plot, and table. We would like to support more types of charts. For example, below is a list of charts we could support (example by [Google Slides](https://docs.google.com/spreadsheets/d/1LARBrBmBT57R1

[2019-01-21 15:09] #55 closed

[2019-01-21 16:36] pieterlukasse commented on #5
The Uniprot view, for reference:
<img width="826" alt="screen shot 2019-01-21 at 17 35 28" src="https://user-images.githubusercontent.com/2900303/51487231-16266300-1da3-11e9-81b6-ca57daab6d3c.png">

[2019-01-24 19:30] fongcj commented on #53
I was thinking of a similar idea to this, where a simple evolutionary view of alterations from multiple samples of a patient be displayed.

![evolution__232](https://user-images.githubusercontent.com/25805540/51703243-ddc19780-1fe3-11e9-9651-e981bcd0d9b5.png)
Above is a prototype of a tree using the networkx package in python

[PhyloTree_egc036_20180308_v9.pdf](https://github.com/cBioPortal/GSoC/f

[2019-01-24 23:33] fongcj commented on #53
@inodb Based on prototype now, there would be 3 inputs: mutation maf and CNA calls, and lastly, a dictionary of the patient's sample IDs and relative time points (0,1,2.. etc. or dates)
The script I have now will output two tables:
<img width="1309" alt="screen shot 2019-01-24 at 6 23 10 pm" src="https://user-images.githubusercontent.com/25805540/51715060-45d4a580-2005-11e9-8ec8-0aaca37d9432.png">

[2019-01-25 15:05] pieterlukasse commented on #58
page, like in UI? So it won't be just an API anymore?

[2019-01-25 15:06] inodb commented on #58
@pieterlukasse 	exactly. Thinking about showing the lollipop plot and all the different annotations we have for a particular variant.

[2019-01-28 22:53] jjgao commented on #53
This looks great! It is exactly what we need.

[2019-01-31 16:12] inodb opened #60 "Human Genome Variant Society format converter"
**Background**:
A commonly used representation of genomic variants is the Human Genome Variation Society  format. The spec is provided here: http://varnomen.hgvs.org/. We would like to be able to convert that to other common formats such as [Variant Call Format](https://samtools.github.io/hts-specs/VCFv4.2.pdf) and [Mutation Annotation Format](https://software.broadinstitute.org/software/igv/Mutat

[2019-01-31 22:59] jjgao opened #61 "Adding PTM annotation for variant annotation"
**Background**:
Protein post-translational modifications (PTMs) play important role in cancer development. There are many resources for PTM data, such as [PhosphoSitePlus](https://www.phosphosite.org), [dbPTM](http://dbptm.mbc.nctu.edu.tw/), [Phospho.ELM](http://phospho.elm.eu.org/), and [UniProt](https://www.uniprot.org/).

PTMs would be a great addition to the annotation that Genome Nexus provid

[2019-02-01 22:09] jjgao commented on #53
Closing this one. We will create another one once @fongcj is back.

[2019-02-01 22:09] #53 closed

[2019-02-04 17:34] #5 closed

[2019-02-04 17:34] #51 closed

[2019-02-26 08:53] pieterlukasse commented on #44
Nice!

[2019-02-26 16:43] khzhu opened #62 "Embed Aligned Reads in Patient view with IGV"
**Background**:
Alignments are very useful when deciding if a mutation is real. Seeing the surrounding reads can help users determine whether the alignments are clean. For example, lots of other mutations in the surrounding reads could indicate alignment ambiguity.

**Goal**:
Make the raw alignments available in mutation and copy number alteration tables from the patient view.

**Approach**:
For e

[2019-02-27 07:04] maykillmore commented on #59
Sir I'd like to take a look at this project. How should I proceed?

[2019-02-27 07:31] lohani2280 commented on #58
Hello Mentors,
I am a Final Year Undergraduate student, from India, currently pursuing my Bachelors in the Department of Information Technology.

I have a considerable experience on working with  Javascript  and REST APIs. I have also contributed to many open source projects before, one of them being [GraphSpace](http://graphspace.org/) which is a web-based platform for storing, interacting, shari

[2019-02-27 11:57] Akshit-Patel commented on #41
Hello! I am Akshit Patel freshman and web developer at BITS Pilani. I am interested and looking forward to contribute to this project. I am new to open source.  How should I start and whether deep knowledge of bioinformatics is required ?

[2019-02-27 13:47] thobhanifreddy commented on #56
Hello Sir, I am Freddy Thobhani, currently I am pursuing my bachelors in computer engineering(3rd year).
I have worked on multiple nodeJS projects and would love to work on this project(can start tomorrow itself!).
I can even work on python, but I would suggest Node.js + Express.js would be perfect for this.

Very excited to work on this project.

[2019-02-27 13:50] thobhanifreddy commented on #59
Hello Sir, This seems very interesting project. I would like to try my hands on this project. Can you please help me to get started?

[2019-02-27 16:10] css911 commented on #60
hello....  @inodb the idea seems interesting to me. Where i should proceed in order to understand the problem statement better?

[2019-02-27 17:21] iFlameing commented on #29
@jjgao I would like to work on this issue :)

[2019-02-27 17:24] JaiKotia commented on #56
Hey, I find this project intriguing and believe I can present a refined client for the Genome Nexus service using NodeJS. I have prior experience in Node as well as Python, but a Node solution would be more sophisticated. I would like connect with a mentor and discuss the features required for this implementation. Thank you.

[2019-02-27 18:09] jjgao commented on #61
moved to https://github.com/genome-nexus/genome-nexus/issues/257.

[2019-02-27 18:09] #61 closed

[2019-02-27 20:14] Oguzyildirim commented on #60
hello, i am so happy because  in my university we have Bioinformatics Masters Program and i want to apply for it. Working on this project will be so much valuable to me. So can we use here to ask question after reading links?

[2019-02-27 20:16] inodb commented on #57
See guidelines here: https://google.github.io/gsocguides/student/writing-a-proposal. If you have a draft proposal please send a google docs link on slack for us to look at

[2019-02-28 04:41] r614 commented on #49
Hi!

I am a Biomedical Engineering Undergrad, specializing in Bioinformatics at the University of British Columbia! I am interested in working on this project for the GSOC 2019. I was wondering if you could point me to the existing implementation in the repo and if you have any existing documentations about it. It would be really helpful for my proposal!

Thanks!

[2019-02-28 07:03] rajmeghpara commented on #29
@jjgao I would also like to work on this issue.

[2019-02-28 07:12] rajmeghpara commented on #59
Hi all, I hope you are doing fine. I am Raj Meghpara currently in final year. I have worked on ReactJS, redux and also SSR(Server Side Rendering) during my last summer internship.

Here is my github profile: https://github.com/rajmeghpara

Here is the app I have developed from scratch using ReactJS: https://elastic-fermi-485961.netlify.com/
I have also published an article for users to build it fr

[2019-02-28 07:14] rajmeghpara commented on #29
Hi all, I hope you are doing fine. I am Raj Meghpara currently in final year. I have worked on ReactJS, redux and also SSR(Server Side Rendering) during my last summer internship.

Here is my github profile: https://github.com/rajmeghpara

Here is the app I have developed from scratch using ReactJS: https://elastic-fermi-485961.netlify.com/
I have also published an article for users to build it fr

[2019-02-28 09:13] css911 commented on #44
Hello!. It's Chetan.  The idea is quite interesting. would like to work on it. To start with what task should I perform.

[2019-02-28 09:18] cAbhi15 commented on #50
Hi !
I am a final year Undergrad student at IIT Kharagpur, India.

From a first read of the above mentioned work by [Rileen Sinha et al.](https://www.biorxiv.org/content/biorxiv/early/2015/10/02/028159.full.pdf) I have briefly understood the potential of this project. The weighted similarity based approach (TumorComparer) which has been arrived to, by statistical analysis (kNN) can be used in comp

[2019-02-28 09:35] rihbyne commented on #56
@inodb would like to work on this issue. Porting the existing java client to python/node and then improvising is what I can think of now.

[2019-02-28 21:14] jjgao commented on #29
@iFlameing @rajmeghpara thanks for your interest. To get started, please get familiar with cbioportal.org. The tutorials (http://www.cbioportal.org/tutorials) would be helpful. Please let us know if you have any questions.

[2019-02-28 21:38] jjgao opened #63 "Swimmer's Plot and Waterfall Plot for Treatment Response Data"
**Background**:
We are expanding [cBioPortal](www.cbioportal.org) to allow for better analysis of treatment and response information. Two visualizations would be incredibly useful:
- A swimmer plot is a common visualization for showing patient response information. See for example: https://peltiertech.com/swimmer-plots-excel/.
![image](https://user-images.githubusercontent.com/840895/53600651-1079

[2019-02-28 23:06] jjgao opened #64 "Curating ICGC PCAWG data"
**Background**:

The [ICGC PCAWG dataset](https://dcc.icgc.org/pcawg) has been [published](https://www.nature.com/immersive/d42859-020-00001-y/index.html). It will be a useful dataset for the [public cBioPortal](https://www.cbioportal.org).

**Goal**:
Curate the ICGC PCAWG data and make them available on cBioPortal [datahub](https://github.com/cBioPortal/datahub/) and pubic cBioPortal.

**Approach

[2019-02-28 23:35] jjgao opened #65 "Mutations tab improvement"
**Background**:
[The Mutations tab](http://bit.ly/2EFlBcF) in Results page is very useful for studying details about mutations. But it has it's limitation, for example, only one filter/search is allowed.

![image](https://media.giphy.com/media/4ZknGVFB4EzGLMmTC4/giphy.gif)

We would like to enhance the functionality of this page including improving its filtering/searching capability and options to

[2019-03-01 07:42] coderrsid commented on #63
Hey @jjgao I want to work on this issue and issue #65 for GSOC. How do i get started?

[2019-03-01 15:46] jjgao commented on #63
Hi @coderrsid, thanks for your interest!

If you are not familiar with [cBioPortal](https://www.cbioportal.org), learning cBioPortal might be the first step. [Our tutorials](https://www.cbioportal.org/tutorials) would be useful. You might want to spend the time to fully understand the ideas you are interested in. Please feel free to ask us questions if anything is unclear.

Next, you might want to

[2019-03-01 18:32] jjgao commented on #59
@maykillmore @thobhanifreddy @rajmeghpara thanks for you interest. To get started, please check out the section of [How to apply](https://github.com/cBioPortal/GSoC/wiki/ideas#how-to-apply).

[2019-03-01 18:46] jjgao commented on #50
@cAbhi15 thanks for your interest. To get started, please see the [how to apply section](https://github.com/cBioPortal/GSoC/wiki/ideas#how-to-apply). If you have specific questions, you can comment here or ask us on [Slack](https://slack.cbioportal.org/)

[2019-03-01 22:18] fongcj opened #66 "Clonal Evolution"
**Background**:
Genetic sequencing has confirmed that many cancers are evolutionarily heterogeneous. As a tumor grows, new mutations accumulate in individual cells, and as these cells replicate, the mutations are passed on to their offspring, which comprise only a portion of the tumor when it is sampled. As a result, A key challenge in cancer genomics is the genomic heterogeneity seen within tumor

[2019-03-02 13:49] coderrsid commented on #63
Thanks @jjgao. I'll get familiar with your code base and rectify some issues.

[2019-03-02 16:59] jjgao opened #67 "Add Mutation Diagram on Study View for Enhanced Mutation Analysis"
**Background**:
The Study View (e.g. [MSK-IMPACT 2017 study](https://www.cbioportal.org/study?id=msk_impact_2017)) of cBioPortal provides a powerful interactive way for exploring clinical and genomic data in a study (cohort of samples).

![image](https://user-images.githubusercontent.com/840895/53684831-741e6280-3ce0-11e9-9070-eb0076449b63.png)

**Goal**:
The overall goal of this project to enhanc

[2019-03-02 18:29] resuls commented on #29
Hello!
I'm interested in this project for GSoC, how can I get started?

[2019-03-03 08:55] ArexJambusarwala commented on #65
Hey, I am a second year B-Tech student at DAIICT and am aiming for GSOC'19. This issue has caught my eye and I would like to work on it. I have been working on front-end technologies like HTML5/CSS, Javascript and React for over two years. I also have created websites from scratch using these technologies along with PHP. I believe I can make a significant contribution to this project and would lik

[2019-03-03 14:39] vinay72 commented on #50
@jjgao Hello Mentor. This is Vinay Sagar Sharma, currently doing my B.tech in Computer Science Engineering from Shri Mata Vaishno Devi University, Katra, India. I am interested to participate in GSoC 2019. I am interested to work with cBioPortal as I found it fascinating and the tech stack was just what I was looking for to work with. I hope it would be a happy journey and fun coding this summer w

[2019-03-03 14:41] sarru1291 commented on #29
Hello cBioPortal community! I’m Sarvottam kumar pursuing B.Tech 3rd year from Bharati Vidyapeeth College of Engineering, New Delhi.

I have worked on various projects related to data-handling using AJAX, JSON, and REST API using Flask, NodeJS and also interactive UI using ReactJS. My recent work was building UI and REST API for integrated retinopathy and skin cancer web app using ML.(demo: https:/

[2019-03-04 15:42] ugurdogrusoz commented on #41
@Akshit-Patel I would suggest you to first learn about the architecture of cBioPortal (see related repository on GitHub) and get familiar with PathwayMapper code.

[2019-03-04 15:45] ugurdogrusoz commented on #49
@r614 cBioPortal code base is [here](https://github.com/cBioPortal/). You might want to get familiar with the portal first by looking at [these tutorials](https://www.cbioportal.org/tutorials).

[2019-03-05 10:18] TechTweety17 commented on #54
Hi Sir. I am interested in this project. It would be really helpful if you could please give me a brief idea about the submission of proposal and format for proposal.

[2019-03-05 15:34] zhx828 commented on #59
@maykillmore @thobhanifreddy @rajmeghpara please take another look of the project. We made some changes.

[2019-03-05 18:19] prasadgujar commented on #67
Hello @jjgao can I take this issue to solve?

[2019-03-05 23:06] r614 commented on #49
@ugurdogrusoz Thank you for the resources! I will make sure to look through them. Is this thread okay for any further questions I have, or should I email you?

[2019-03-06 05:49] ugurdogrusoz commented on #49
Either way is fine

[2019-03-06 20:32] sohnsteve commented on #62
Hello, I am interested in undertaking this project but am worried how hard of a requirement there is for knowing the skills you have listed.  For instance, I have been coding in Java for practically my entire academic career so far and so I feel confident on that front, but have only dabbled in JS and CSS.  Of course, it goes without saying that I will learn whatever skills I am required of, but w

[2019-03-07 20:02] Akshit312 commented on #64
Hi, I want to work on this issue.

[2019-03-08 06:26] coderrsid commented on #67
@jjgao Can i add issue #63 and this issue and work on it together in my proposal for GSOC and can you suggest any other similar issue you think i can work on so that i can do more work in less time?

[2019-03-08 08:41] anoob09 commented on #54
Heii @inodb . I am interested to work on this issue. I had a small doubt. Do we need to import all the data mentioned in  [cbioportal/docs/Import-the-Seed-Database.md](https://github.com/cBioPortal/cbioportal/blob/master/docs/Import-the-Seed-Database.md#importing-the-seed-database) to work on this issue?

[2019-03-08 17:01] ao508 opened #68 "Standalone Importer w/Spring Batch"
**Background**:
The cBioPortal is a valuable resource for navigating, downloading, visualizing, and analyzing cancer genomics data. The portal supports a variety of [datatypes and accepted file formats](https://docs.cbioportal.org/5.1-data-loading/data-loading/file-formats) and we have made available a [meta import script](https://docs.cbioportal.org/5.1-data-loading/data-loading/using-the-metaimp

[2019-03-08 22:40] inodb commented on #60
@css911 @Oguzyildirim Thanks for your interest! https://slack.cbioportal.org is a good place to ask for questions

[2019-03-09 17:16] anoob09 commented on #54
@jjgao @inodb [Here](http://www.cbioportal.org/datasets) is an option to data. Where can I find the genomic and clinical data that I have to return?

[2019-03-09 17:53] lokeshrana9999 commented on #66
Hey, I am student of Biotech(IIT Guwahati). I have been working with reactjs for the last year or so. I would like the opportunity to work on this issue.
Thank You

[2019-03-09 17:56] lokeshrana9999 commented on #67
Hey @jjgao , I am student of Biotech(IIT Guwahati). I have been working with reactjs for the last year or so. I would like the opportunity to work on this issue.
Thank You

[2019-03-10 07:24] LakshanSS commented on #29
Hi All! I am interested in doing this tour guide. I have worked with React and JavaScript in various projects. I am going to get started with cbioportal and try the tutorials.

[2019-03-11 06:57] Parth910 commented on #29
Hello, community!! I am Parth Patel from Jaipur, Rajasthan, India. Currently, I am pursuing my B.Tech Sophomore in Computer Science and Engineering at The LNMIIT, Jaipur.

I have Experienced in various Javascript framework like NodeJs, ReactJs and etc. I worked in a project which builds in ReactJs.So now I am interested in this issue.so please, mentors guide me how and where I can start to contrib

[2019-03-11 11:33] pallavi75 commented on #49
Hi
I am interested to work on this project for the google summer of code 2019. I am working on free and open source technologies . I know the techstack of  java ,javascript ,database and the  basics of reactjs . . Can you provide me some information about the project in detail which helps me to contribute in gsoc.

[2019-03-11 11:38] ugurdogrusoz commented on #49
@pallavi75 see comments above please

[2019-03-11 21:51] jjgao commented on #50
@vinay72 thanks for your interest. Looking forward to seeing you proposal.

[2019-03-11 21:51] jjgao commented on #65
@ArexJambusarwala thanks for your interest. Looking forward to seeing your proposal.

[2019-03-11 22:23] jjgao commented on #64
@Akshit312 thanks for your interest. Looking forward to seeing your proposal.

[2019-03-11 22:25] jjgao commented on #29
@sarru1291 @LakshanSS @Parth910 thanks for your interest. Please following [How to Apply](https://github.com/cBioPortal/GSoC/wiki/ideas#how-to-apply) to get started.

[2019-03-12 16:57] khzhu commented on #62
@sohnsteve , thank you for your interest in the project!
The project is mainly developing a new **React** module for the cBioPortal GUI component. Of course, you can pick up new skills as you go. To get yourself familiar with type script, especially to have a basic knowledge of the babel transpiler and React Promise will help you find a good design solution faster.

[2019-03-13 03:58] jjgao opened #69 "Prototype Spark + Parquet + Spring Boot for web API"
**Background**:

Currently, cBioPortal utilize relational database (MySQL) for data storage. As the number and size of cancer datasets increase, we are interested in exploring high-performance computing and storage in order to provide an adequate cBioPortal user experience.

**Goal**:
Develop a prototype to implement a subset of our [current web API](https://www.cbioportal.org/api) with Spark + Pa

[2019-03-15 19:02] geekayush commented on #41
Hi @ugurdogrusoz @onursumer,
I am a React front end developer having a good experience in working with HTML, CSS, JavaScript, Front end frameworks (like Bootstrap, Materializecss, Bulma) and also ReactJS. I have a good understanding of UI/UX.
I can understand point number (2) mentioned in the Approach of the idea above. But still confused with point number (1) that is to repackage/refactor Pathway

[2019-03-17 21:58] michiboo commented on #64
Hi I am interested in this project too, can I also write a proposal on this?

[2019-03-18 14:09] jjgao commented on #64
@michiboo sure. Looking forward to your proposal.

[2019-03-19 21:13] zhx828 opened #70 "OncoKB Analysis in Study View"
**Background**:
The Study View (e.g. [MSK-IMPACT 2017 study](https://www.cbioportal.org/study?id=msk_impact_2017)) of cBioPortal provides a powerful interactive way for exploring clinical and genomic data in a study (cohort of samples).

[OncoKB](https://oncokb.org/) is a precision oncology knowledge base and contains information about the effects and treatment implications of specific cancer gene

[2019-03-19 21:13] zhx828 opened #71 "OncoKB Analysis in Study View"
**Background**:
The Study View (e.g. [MSK-IMPACT 2017 study](https://www.cbioportal.org/study?id=msk_impact_2017)) of cBioPortal provides a powerful interactive way for exploring clinical and genomic data in a study (cohort of samples).

[OncoKB](https://oncokb.org/) is a precision oncology knowledge base and contains information about the effects and treatment implications of specific cancer gene

[2019-03-20 05:37] AndrewCveklNYUClass commented on #70
Hi, very interested in working on this.

[2019-03-21 06:13] GayanSandaruwan commented on #69
Hi,
I'd like to work on this project, so for the phase 0, what should be the capabilities of the demo web app ?

[2019-03-21 11:24] jjgao commented on #69
@GayanSandaruwan thanks for your interest. Phase 0 would be a simple proof of concept, so as long as you can use the stack to develop a website, it would be good enough.

[2019-03-22 04:09] GayanSandaruwan commented on #69
Grea👌

On Thu, Mar 21, 2019, 4:55 PM JianJiong Gao <notifications@github.com>
wrote:

[2019-03-22 11:38] n1zea144 commented on #69
@jjgao One thing we should put on the Approach, which I think goes in between Phase 1 and 2 is the ability to fetch data from multiple studies.

[2019-03-24 10:16] coderrsid commented on #65
Hey @jjgao I have sent you my proposal for this issue on Slack direct message. Can you please review it? and can you please tell me if i could mail you the proposal too?

[2019-03-24 20:31] kloun commented on #70
my name is Victor Kukshiev. I very interested in working on this project. I familiar with SQL, web and java...

[2019-03-24 20:42] kloun commented on #68
I also interesting to participation on this project. I familiar with java and sql.

[2019-03-25 17:02] jjgao commented on #69
@n1zea144 Good point. I've updated the text.

[2019-03-31 14:38] evgerher commented on #8
Hello @jjgao,
I am interested in this project and #68 and wish to write a good proposal.
Do you have any test-task?
How can I contact you through mail?
What can you suggest to focus on?

[2019-04-03 17:37] coderrsid commented on #65
Hey @jjgao @inodb I got a little late to submit the proposal because i went to a hackathon outside the city but please consider my proposal too and i have added mockups of filter as @inodb  wanted.

[2019-04-05 00:58] Alhena26 commented on #60
Hello ! Can I know to whom I should send my first draft for a proposal to ?
Thank you

[2019-04-05 01:10] ao508 commented on #60
Hi @alhena26. You should request an invite to the cbioprtal gsoc slack group and share a link there.

[2019-04-05 01:57] Alhena26 commented on #60
I am already on slack.
Do you suggest I put my proposition on github and then send the link on
slack's GSOC channel ? But then it will be visible for everyone ?

Le ven. 5 avr. 2019 à 03:10, ao508 <notifications@github.com> a écrit :

[2019-04-05 02:41] ao508 commented on #60
hi @Alhena26 , you can start a private conversation on Slack with myself, @inodb and @onursumer if you wish. You can share a google doc with your proposal

[2019-04-05 06:53] Alhena26 commented on #60
Hello @ao508 ! I just added @inodb  and @inodb to the conversation, but I can't find you on slack !

[2019-04-05 09:18] nabeelmerchant1 commented on #70
Having more than 10 Years of programming and industry experience for various multinational organisations such as US Gov, Monsanto, Sygenta, HSBC and many others.

Our organisation has the privileged to develop cloud based facilities management  and geo spatial solutions. In adittion to working with banks such as HSBC and Standard Chartered bank in creating FIX, SWIFT and FAST Protocols to organisa

[2019-04-05 15:02] ao508 commented on #60
@Alhena26 you should be able to find me under my name (Angelica)

[2019-04-05 15:09] Alhena26 commented on #60
I just added you ! :)

Le 5 avr. 2019 5:02 PM, "ao508" <notifications@github.com> a écrit :

@Alhena26 <https://github.com/Alhena26> you should be able to find me under
my name (Angelica)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/cBioPortal/GSoC/issues/60#issuecomment-480309258>, or mute
the thread
<https://github.com/

[2019-04-06 18:07] kts-desilva commented on #50
Hi mentor @jjgao. I am Senuri De Silva, a final year student from University of Moratuwa, Sri Lanka. I am very interested in this project and I have gone through the tutorials of cBio Portal and currently in the process of familiarizing myself with the code base. I have worked with ReactJs, Javascript, and Java in my internship and other projects. I personally love to work in biomedical research a

[2019-04-07 21:32] Alhena26 commented on #60
Hello ! Thank you @ao508 for you feedback ! I've made some modifications based on your suggestions, and submitted another draft. Can you give me your thoughts on this new proposal ?

[2019-04-07 22:00] jjgao commented on #8
@evgerher sorry I was on travel and your questions fell between the cracks. Please let me know if you still need info.

[2019-04-07 22:03] jjgao commented on #70
@nabeelmerchant1 GSoC is only open to undergraduate and graduate students.

[2019-04-08 08:55] nabeelmerchant1 commented on #70
Dear Mr. Gao, thank you soo much for your prompt response !

I am very a bright student enrolled into Greenwich University as a final year graduating student. Having more practical experience than academic experience in software engineering and project management, I will make sure to manage time, quality and expectations for integrating OncoKB onto the Protal.

I have read through all the program

[2019-04-08 14:21] kalletlak commented on #54
@anoob09 this is just the reference data. And all the studies are present at https://github.com/cBioPortal/datahub/tree/master/public. To work on this issue, you need reference data and may be couple studies from `public` folder.

You need to query database

[2019-04-09 11:21] nabeelmerchant1 commented on #70
Submitted draft Proposal to Mr. Hongxin as a student of Greenwich University - Final Year graduate.

Taken up the project with approval of Mr.Hongxin and Mr Gao.

Project draft is available for view [here](https://docs.google.com/document/d/1a3BgsUzvi4p-3CDijlePt1cLM1FDsDq4QXiCubOObeI/edit?usp=sharing)

[2019-04-09 15:47] jjgao commented on #70
@nabeelmerchant1 Thanks for submitting your proposal. Please rest assured that we will review your proposal carefully together with proposals from others. But please understand that none of the submitted proposals are guaranteed to be accepted and therefore none is taken. (Hongxin and I don't really have the power to approve that.)

Also, thanks for sharing your draft here, but to be clear to othe

[2019-04-09 17:06] nabeelmerchant1 commented on #70
Your welcome Mr. Gao. I do understand that there are no grantees of any proposals being accepted. Even though if my proposal is not accepted, I shall take the time out to fulfill my proposal. Since the day I have dived into cBioPortal code base, I have understood the valuable work MSK organisation is doing to contribute to society.  Please keep up with the great work !

[2019-04-11 18:13] adamabeshouse commented on #62
I think this project is way too small for an entire summer. It is basically creating a single button which links to a single location in the igv window which is already implemented.

[2019-04-11 18:23] khzhu commented on #62
@adamabeshouse , currently we can only view segments in the portal not raw reads from bam, right?

[2019-04-11 18:25] adamabeshouse commented on #62
@khzhu oh yes, you're right

[2019-04-13 22:00] jjgao commented on #62
The authentication part to load slide of bam is probably the main work.

[2019-06-06 03:09] pcalderong commented on #66
Hello @jjgao, I'm currently studying BioInformatics, and I found this project really interesting to gain some experience in the field and support such a helpful platform. I just have one question, Where can I find the steps to submit a proposal to work on this project?
Thanks.

[2019-06-06 21:43] jjgao commented on #66
@pcalderong thanks for your interest. The deadline to apply to this project as a GSoC student has passed: https://developers.google.com/open-source/gsoc/timeline. If you are interested in contribute to cBioPortal open source project, our source code is here: https://github.com/cBioPortal/. Please let us know and we will get your started.

[2019-07-05 20:01] zhx828 commented on #70
Add /oncokb/fetch POST for study view which is similar to /clinical-data-counts/fetch

Accepts two parameters
- attributes
- studyViewFilter

Possible attributes
- HAS_DRIVER
- ONCOGENICITY
- MUTATION_EFFECT
- HIGHEST_SENSITIVE_LEVEL

And in StudyViewFilter, we need to add
[code]

[2019-07-08 15:56] kalletlak commented on #70
@zhx828 what would be the response?

[2019-07-08 19:56] zhx828 commented on #70
@kalletlak it will be similar to /clinical-data-counts/fetch. I updated the comment above.

[2019-09-19 05:59] ugurdogrusoz commented on #41
This was done as part of GSoC 2019.

[2019-12-22 14:26] sunil-17112 commented on #69
@jjgao
Hi!
I want to work on this project. Can you tell me one thing? Is this project coming in GSoC,2020?

[2019-12-22 16:23] jjgao commented on #69
@sunil-17112 thanks for your interest. This was done in 2019.

[2019-12-22 16:23] #69 closed

[2019-12-22 16:53] sunil-17112 commented on #50
@jjgao
Hi!
I want to work on this project. Can you tell me one thing? Is this project coming in GSoC,2020?

[2019-12-25 19:39] rishabhBudhouliya commented on #68
Hi, is this issue still open?

[2020-01-10 00:57] inodb opened #72 "Add color blind friendly color scheme for cBioPortal"
**Background**:

Currently, the cBioPortal is not very user-friendly for those with color vision deficiency. The use of colors is very important in data visualization and we would like to add an option that allows users to enable a [color blind friendly palette](http://mkweb.bcgsc.ca/colorblind/).

**Goal**:
Add an option for users of cBioPortal to enable a color blind friendly palette.

**Approac

[2020-01-14 06:08] ugurdogrusoz opened #73 "PathwayMapper viewer and editor improvements"
**Background**:
While the previous network visualization module in cBioPortal was a powerful exploration tool, most biologists are more comfortable with the kind of simplified, curated pathway diagrams that are featured in many manuscripts from The Cancer Genome Atlas (TCGA). With the motivation of creating a platform that provides more intuitive pathway diagrams, yet supports these with rich data

[2020-01-14 18:15] alisman opened #74 ""Hint" mode for cBioPortal and OQL editor"
**Background**: The portal has a lot of "hidden" features.  Features which a large percentage of users don't even know about because they lack prominence in the UI. For example, group comparison, oql qualifiers in gene box.

**Goal**:
To provide hints in the UI when hint mode is turned on.  These would appear in prominent parts of the page.  We would certainly want to make them dimissable and hide

[2020-01-14 18:20] adamabeshouse opened #75 "OQL helper"
**Background**:
_Info pulled from [GSoC Issue #2]( https://github.com/cBioPortal/GSoC/issues/2)_

[The Onco Query Language (OQL)](http://www.cbioportal.org/onco_query_lang_desc.jsp) is useful for advanced genomic event query . Currently, a user have to type the OQL in the gene input box. The OQL parse won't run until the user hit Query.

**Goal**:
Implement an OQL suggestion UI that fits into our

[2020-01-14 18:25] alisman opened #76 "Add some form of cohort selection to the oncoprint"
**Background**:
It might be nice to be able to assemble a cohort in the Oncoprint itself, either by clicking one-by-one on the columns or using a draggeable selection area.

**Goal**:

**Need skills**:
Javascript, UI design

**Possible mentors**:
Aaron, Adam

[2020-01-14 18:27] Luke-Sikina opened #77 "Improve Quick Search for Patients and Samples"
**Background**:
Quick search is a way to view studies, genes, patients and samples quickly from the main page of the website. You can see quick search in action by going to [cbioportal.org](https://www.cbiportal.org), clicking on the `Quick Search` tab, and entering something in the search bar (`BRAF` will get you a good spread of results).
Right now, quick search looks for patients and samples in

[2020-01-14 21:41] inodb opened #78 "Single command to run cBioPortal (Docker Compose & Helm Chart)"
**Background**:
Our current recommended way of deploying cBioPortal requires the user to run several docker commands to get cBioPortal running: https://docs.cbioportal.org/2.1.1-deploy-with-docker-recommended/docker. Ideally there would be a single command with further explanation of how the different parts are connected. A common approach for launching multiple Docker services is using Docker Com

[2020-01-14 21:43] inodb commented on #74
Looks like there might be some overlap with this one: https://github.com/cBioPortal/GSoC/issues/75?

[2020-01-14 23:06] pieterlukasse commented on #77
Nice 👍 . Maybe also include finding patients/samples by clinical events (aka timeline entries).

[2020-01-15 16:21] inodb commented on #71
@zhx828 @kalletlak I guess we can rewrite this a bit for GSoC2020?

[2020-01-15 16:44] #60 closed

[2020-01-15 16:47] inodb commented on #50
@sunil-17112 : @Luke-Sikina has been working on developing a prototype. I'm not sure if this idea is suitable for GSoC2020. What do you think @Luke-Sikina ? It might be a bit too early in the prototype process.

[2020-01-15 16:48] inodb commented on #54
@kalletlak Do you think this is a reasonable project for GSoC2020?

[2020-01-15 16:49] inodb commented on #58
@leexgh I'm going to close this unless you have some specific ideas what a GSoC student could work on. Maybe mobile version of the site?

[2020-01-15 16:49] #58 closed

[2020-01-15 16:49] inodb commented on #50
I'll close it for now, but feel free to re-open

[2020-01-15 16:52] inodb commented on #63
@jjgao The Hyve has partially implemented the waterfall feature - I guess we still need coloring of the bars by clinical data?

[2020-01-15 16:53] alisman commented on #74
@inodb @adamabeshouse agreed.  i stuck these two together because i wasn't sure the hint mode was "enough" for a full project.  What do you think?  Is it too menial/basic?   As for the OQL hinting, the scope of that project depends on how fancy we make the UI.

[2020-01-15 16:54] inodb commented on #57
I think with the CBSP hackathon we've gotten pretty good notebook: https://github.com/mskcc/cbsp-hackathon (just R is missing but that should prolly use the new cBioPortalData library). This is more of a documentation project at this point. We could maybe have a separate issue `cBioPortalData`

[2020-01-15 16:54] #57 closed

[2020-01-15 17:02] leexgh commented on #58
@inodb good idea! that would be super cool! I'm thinking maybe the MAF annotation or patient report that we first proposed to genome nexus website could be possible projects as well?

[2020-01-15 17:08] inodb commented on #29
@alisman @jjgao should we keep this one? It seems to me that the introduction of group comparison was doing something similar. I guess if we want to do this we should maybe re-use some of that code? It might be nice to either focus on the tutorial aspect (i.e. completely new users) or make it easier to introduce new features in the same way as we did with group comparison.

[2020-01-15 17:10] inodb commented on #56
Gonna close this, the NodeJS command line client is working pretty ok already: https://github.com/genome-nexus/genome-nexus-cli. We could open a new idea that fixes some small issues

[2020-01-15 17:12] inodb commented on #66
A very good prototype was developed in GSoC2019 for 2020 we should prolly finish bringing this to production ourselves

[2020-01-15 17:12] #66 closed

[2020-01-15 17:15] inodb commented on #64
@jjgao should we keep this for GSoC2020?

[2020-01-15 17:17] inodb commented on #65
@onursumer you think this is feasible for GSoC2020?

[2020-01-15 17:25] inodb commented on #74
@alisman I think just OQL hinting might be enough. We have not gotten that many projects of GSoC to production so might be nice to do some simpler projects. We can always extend during the course of the project. There are a lot of things that need to be learned to really get it to completion I think e.g. adding tests for the hinting, properly writing the description of the PR, proposing a news ite

[2020-01-15 17:27] inodb commented on #74
The non oql hint mode part sounds like it might have some similarities with the interactive web tour: #29

[2020-01-15 17:33] onursumer commented on #65
@inodb Multiple/simultaneous filter support has already been added and currently functional. We should update the project description to reflect the latest state of the mutations tab.

Implementing UI for additional filter options, like filtering by different columns, should be straightforward now. I am not sure though how much effort required to load clinical attributes.

[2020-01-15 18:07] ao508 commented on #68
@rishabhBudhouliya Yes, this is still an open issue and project idea for GSoC.

[2020-01-15 18:36] rishabhBudhouliya commented on #68
@ao508 Hi, should I try to understand and start on this or are there any initial tasks you would want me to do first, which would make me more comfortable with the codebase?

[2020-01-15 23:42] onursumer commented on #65
Maybe we can also include cBioPortal/cbioportal/issues/5607 as part of this. @inodb, @jjgao, what do you think?

[2020-01-16 14:17] Luke-Sikina commented on #50
@inodb I think I have to learn more about what constitutes a good GSoC project. The spec in this document is very open ended, where as our current vision is far more specific. Are students interested in issues where the creative process is more limited?

[2020-01-19 19:59] Vivek1258 opened #79 "Adding an AI based chat-bot to the website"
**Background**:

With more new features being added into cBioPortal, it might become confusing for new users to utilize the site. Adding an AI-based chatbot system to the website would help to increase the user experience, understand the general problems faced by a user, etc.

**Goal**:

1. To develop an AI-based chat-bot system from scratch.
(create a chatbot and inject some true personality into

[2020-01-20 22:03] jjgao commented on #76
This is a great idea! We can allow the user to open the selected samples/patients and create groups from them.

I am wondering if the workload is enough for 3 months? Maybe we can extend it to other tabs, e.g. Mutations, Plots, Expression, etc?

[2020-01-20 22:04] jjgao commented on #63
@inodb yes, that would be very useful.

[2020-01-20 22:06] jjgao commented on #64
Yes, it would be great if we can get this dataset into the public portal.

[2020-01-20 22:07] jjgao commented on #65
@onursumer good idea 👍

[2020-01-20 22:15] inodb commented on #79
Hi @Vivek1258 ! Thanks so much for sharing your idea!

Just curious: are you interested in applying to GSoC as a student? Were you looking to get feedback on the idea? Thanks!

[2020-01-21 13:51] Vivek1258 commented on #79
Hi

Thanks for the reply

Yes I am interested to apply in GSoC 2020

and am very keen on the cBioPortal website because I am a  WEB and  ML enthusiast who has done his Higher Secondary Education In the Field of Biology.

Thanks Again

[2020-01-21 16:54] inodb commented on #79
Thanks @Vivek1258 ! Nice to meet you & great to hear!

Take a look at our cBioPortal contributing guide: https://github.com/cBioPortal/cbioportal/blob/master/CONTRIBUTING.md
and our wiki on GSoC here: https://github.com/cBioPortal/GSoC/wiki

We have a few issues labeled as “good first issue” to get familiar with contributing code: https://github.com/cbioportal/cbioportal/issues?q=is%3Aopen+is%3Ais

[2020-01-21 16:54] #79 closed

[2020-01-22 14:48] ao508 commented on #68
@rishabhBudhouliya The Spring importer code has drifted out of date with the current importer classes checked into the cbioportal/master codebase. I will discuss with our team to identify where is the best area to pick this up.

[2020-01-24 18:00] #56 closed

[2020-01-24 18:19] ao508 opened #80 "Extend Filter URL on Study View to allow filtering by protein change"
**Background**:
The [Study View](https://www.cbioportal.org/study/summary?id=acc_tcga_pan_can_atlas_2018) of [cBioPortal](https://www.cbioportal.org) currently supports a hidden feature to filter the study view using the URL.

See for example, this URL:

https://www.cbioportal.org/study/summary?filterAttributeId=SEX&filterValues=Male&id=acc_tcga_pan_can_atlas_2018

which shows only information abo

[2020-01-24 18:42] ao508 commented on #64
todo: update text

[2020-01-24 18:49] #62 closed

[2020-01-24 18:52] #54 closed

[2020-01-24 18:52] #49 closed

[2020-01-25 06:25] chinmay021 commented on #72
@inodb i would like on this as my GSoC project? Could you help me get started with this project?

[2020-01-27 07:36] aditya300899 commented on #78
I'd like to do this project. Please guide me accordingly.

[2020-01-29 13:52] neelesh17 commented on #29
Hello!! I am Neelesh Thakur from Bhopal, M.P., India. Currently, I am pursuing my B.Tech Degree in Computer Science and Engineering at The LNCTS, Bhopal.

I have Experienced in various Javascript framework like NodeJs, ReactJs, also with Redux. I worked in a project which builds in ReactJs and Redux and I am interested in this issue and also an aspirant of GSoC 2020.So mentors,would you guide me h

[2020-01-29 17:24] fongcj opened #81 "Body map showing locations of sequenced samples in patient view"
**Background**:
The cBioPortal Patient Viewer gives researchers an in-depth view of individual patients, providing a view of their specific gene alterations, CN alterations across the genome, as well as a clinical timeline of sequenced samples and other clinical events.

<img width="1423" alt="Screen Shot 2020-01-29 at 11 52 46 AM" src="https://user-images.githubusercontent.com/25805540/73378650-e

[2020-01-30 18:37] #80 closed

[2020-01-30 19:00] inodb commented on #74
I closed this one and change the interactive web tour: https://github.com/cBioPortal/GSoC/issues/29

[2020-01-30 19:00] #74 closed

[2020-01-30 19:15] inodb commented on #72
Hi @chinmay021 👋! I think a good start is to go through the different tutorials here: https://www.cbioportal.org/tutorials. That will give you some idea of the types of visualizations we have.

Then you might want to take a look at the oncoprinter:

https://www.cbioportal.org/oncoprinter

A lot of the colors in that heatmap are re-used through the rest of the site, so proposing a color blind frien

[2020-01-30 19:36] chinmay021 commented on #72
Thank you so much for the guidance. Will proceed as you said.

[2020-02-02 08:04] chinmay021 commented on #72
I am thinking of replacing the current colormap ('viridis' and 'inferno')  used in https://github.com/cBioPortal/oncoprintjs/blob/master/src/js/heatmapcolors.ts to 'cividis' colormap that is suitable for  normal vision and also color blind friendly.Am i heading in the right direction?

[2020-02-03 13:55] Dharmesh-Poddar commented on #78
@inodb I would like to work on this project.

[2020-02-03 14:01] Dharmesh-Poddar commented on #72
@inodb  I would also like to work on this project.

[2020-02-03 14:06] Dharmesh-Poddar commented on #65
@jjgao @onursumer can you please guide me for this project :)

[2020-02-03 16:05] inodb commented on #72
Hi @Dharmesh-Poddar ! We have applied for GSoC but we are not sure yet whether we'll get selected. Of course you are welcome to start thinking about the proposal, but please keep that in consideration. If you'd like to take a look at this please go ahead. If Google selects our organization to be part of GSoC we will look at all proposals submitted

[2020-02-03 23:11] sheridancbio opened #82 "Unite Backend Configuration Handling"
**Background**:
Configuration of the backend web application has gone through several eras, and there are now several legacy mechanisms available for configuring cBioPortal.

The backend is packaged as a web archive (war), and the oldest form of configuration is embedding a [properties file](https://github.com/cBioPortal/cbioportal/blob/v3.2.1/src/main/resources/portal.properties.EXAMPLE) in the w

[2020-02-04 20:10] LiNk-NY opened #83 "[r-client] cBioPortalData: Example Bioconductor Workflow"
**Background**:
The `cBioPortalData` R client opens up cBio Portal data to alternative analyses platforms such as Bioconductor and R. Bioconductor provides workflows for demonstrating use-cases for particular packages, analyses, visualizations, and technologies including DESeq2, edgeR, limma, GGviz, GenomicRanges.
**Goal**:
To create Bioconductor workflows and iPython notebooks demonstrating the u

[2020-02-05 20:22] Luke-Sikina commented on #77
I understand the concerns about this being too complex given how we want to display the results. I'm going to close this issue for now so that no one gets confused.

[2020-02-05 20:22] #77 closed

[2020-02-07 10:05] hv7214 commented on #63
@jjgao i'm willing to take this up. Can you assign this to me ?

[2020-02-07 10:27] hv7214 commented on #67
@inodb can you help me get started with this project ? I am willing to take this up for gsoc20.

[2020-02-13 19:13] sheridancbio commented on #72
This project concept brought back a previous thought : that we would track (based on user log in) a set of selections / preferences / roles chosen by a user, so that their usage pattern for the portal would be remembered next time they log in (even after their current session expires). The feature described for this project is an obvious case where it would be helpful for us to remember this user

[2020-02-13 19:20] sheridancbio commented on #65
I have added myself as a possible mentor ... although I would not be good as the primary/sole mentor. If I participate I will also be improving my knowledge of our frontend/react development.

[2020-02-13 19:52] kpiyush04 commented on #64
Hey, @jjgao @inodb @ao508
I'm **Piyush Kumar** a sophomore student from Galgotias University, Greater Noida, India.
I found this project is very interesting. I'm working on python, data analysis and visualization.
currently, I am looking forward to contributing to open source.
So suggest to me, what I can do further in this project!

[2020-02-13 19:54] kpiyush04 commented on #64
Hey, @jjgao  @inodb  @ao508
I'm Piyush Kumar a sophomore student from Galgotias University, Greater Noida, India.
I found this project is very interesting. I'm working on python, data analysis and visualization
currently, I am looking forward to contributing to open source.
So suggest to me, what I can do further in this project!

[2020-02-15 00:38] AlexanderPico commented on #73
Happy to co-mentor this (if it gets selected) for possible WikiPathways and Cytoscape Ecosystem integrations.

[2020-02-16 16:27] TheWizard25 commented on #81
Hi,
I want to work on this idea for my GSOC'20 project. Can you guide me a little about how to start? Please share some tutorials/guides/blogs/documentation if available so that I can make myself familiar with cBioPortal.
Thank you

[2020-02-17 20:22] jjgao commented on #82
@sheridancbio I am wondering if it's time to develop an Admin page? That way, we could deliver a war/jar for people to deploy and configure.

[2020-02-19 20:20] sheridancbio commented on #82
@jjgao that would also be a great project. A webpage would come up and give you options to set ... database connections, skin settings, user authentication policies/provider, etc. Perhaps it could also include in our hope to operate a single web server which hosts multiple portals/URLs with mappings of skins to request URL base name and database sources (and that could be dynamically reconfigurabl

[2020-04-12 08:35] banerjeeshayantan commented on #83
I work in the area of cancer informatics and develop machine learning models to distinguish between driver and passenger mutations. This [link](http://bit.ly/projects_list_2019) contains more details about my work. I have extensively used R/Bioconductor for my research. Can I take up this project? I am aware of the fact that GSoC application period is over but I want to contribute anyways.

[2020-04-14 16:03] alisman commented on #83
Hi Shayantan,

Thanks for much for your offer. I will bring this up at our meeting this
afternoon and get back to you.

--Aaron

On Sun, Apr 12, 2020 at 4:35 AM Shayantan Banerjee <notifications@github.com>
wrote:

[2020-04-15 08:24] lwaldron commented on #83
Dear @banerjeeshayantan, thanks for your interest! It would be great to have you take up this project. We can start a project and define some concrete issues at https://github.com/waldronlab/cBioPortalData/projects. Would be happy to set up a call to meet and discuss.

[2020-04-15 09:05] lwaldron commented on #83
Update: I have created a long list of potential TODO items ranging from relatively quick to potentially hard at https://github.com/waldronlab/cBioPortalData/projects. @LiNk-NY @lgeistlinger feel free to edit/add.

[2020-05-04 18:22] banerjeeshayantan commented on #83
I apologise for not replying earlier due to some other commitments. Can we talk sometime this week? I have already downloaded the package with all the necessary dependencies. Please let me know.

[2020-05-06 07:24] lwaldron commented on #83
No problem @banerjeeshayantan, thanks for your continued interest. I will touch base with @LiNk-NY today to plan, and we'll be in touch again soon.

[2020-06-26 15:44] zhx828 commented on #72
We made some efforts to differentiate YES/NO in the portal, but a broader discuss and implementation is needed.

The color platte we chose is https://colorbrewer2.org/#type=qualitative&scheme=Dark2&n=3
Relevant pr: https://github.com/cBioPortal/cbioportal/issues/5296#issuecomment-501843410

[2020-11-19 16:29] #8 closed

[2020-11-19 16:29] #29 closed

[2020-11-19 16:29] #59 closed

[2020-11-19 16:29] #63 closed

[2020-11-19 16:29] #64 closed

[2020-11-19 16:29] #65 closed

[2020-11-19 16:29] #67 closed

[2020-11-19 16:29] #68 closed

[2020-11-19 16:29] #71 closed

[2020-11-19 16:29] #72 closed

[2020-11-19 16:29] #73 closed

[2020-11-19 16:29] #75 closed

[2020-11-19 16:29] #76 closed

[2020-11-19 16:29] #78 closed

[2020-11-19 16:29] #81 closed

[2020-11-19 16:29] #82 closed

[2020-11-21 05:01] ugurdogrusoz opened #85 "Broader use of pathway views in cBioPortal"
**Background**:

Pathway diagrams are widely used in genomics to describe changes occurring in signaling pathways resulting from genomic alterations. There are [several tools](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4461095/) available to facilitate the visualization and analysis of pathway alterations, including [PathwayMapper](https://github.com/iVis-at-Bilkent/pathway-mapper).

[PathwayMap

[2021-01-25 22:53] inodb opened #86 "Interactive web tour"
**Background**:

With more and more features getting into [cBioPortal](http://cbioportal.org/), it becomes a challenge for new users to fully utilize the site. Interactive web tours would be very useful to get new users started. There are many features which a large percentage of users don't know about because they lack prominence in the UI. For example, [group comparison](https://www.cbioportal.o

[2021-01-25 22:57] inodb opened #87 "Add Mutation Diagram on Study View for Enhanced Mutation Analysis"
**Background**:
The Study View (e.g. [MSK-IMPACT 2017 study](https://www.cbioportal.org/study?id=msk_impact_2017)) of cBioPortal provides a powerful interactive way for exploring clinical and genomic data in a study (cohort of samples).

![image](https://user-images.githubusercontent.com/840895/53684831-741e6280-3ce0-11e9-9070-eb0076449b63.png)

**Goal**:
The overall goal of this project to enhanc

[2021-01-25 23:10] inodb opened #88 "Lollipop plot in Group Comparison"
**Background**:
The [comparison page](https://www.cbioportal.org/comparison/mutations?sessionId=5cf89323e4b0ab413787436c) makes it easy to make comparisons between tumor samples and see e.g. what gene is more frequently mutated in one set of samples versus another set of samples:

![Screen Shot 2021-01-25 at 6 00 59 PM](https://user-images.githubusercontent.com/1334004/105776935-7c689200-5f37-11eb

[2021-01-25 23:13] inodb opened #89 "Mutations Tab Enhancements (Clinical Attributes and Search)"
**Background**:
[The Mutations tab](http://bit.ly/2EFlBcF) in Results page is very useful for studying details about mutations. But it has its limitation, for example, only one filter/search is allowed.

![image](https://media.giphy.com/media/4ZknGVFB4EzGLMmTC4/giphy.gif)

We would like to enhance the functionality of this page including improving its filtering/searching capability and options to

[2021-01-26 21:58] inodb opened #90 "Extend chart types in study view"
**Background**:
In the study view page ([an example](http://www.cbioportal.org/study?id=ucec_tcga_pub)), currently, we support a few different chart types including pie chart, bar chart, 2-D density plot, and table. We would like to support more types of charts. For example, below is a list of charts we could support (example by [Google Slides](https://docs.google.com/spreadsheets/d/1LARBrBmBT57R1

[2021-05-28 14:12] jjgao commented on #89
For filtering, it would be nice to have column-based filter https://github.com/cBioPortal/icebox/issues/140

[2022-01-11 21:01] #89 closed

[2022-02-22 16:21] Luke-Sikina opened #91 "Study Comparison"
**Background**:
Comparing or diffing two studies would be a useful tool for users trying to understand how two studies differ. This would be useful especially on cbioportal.org, as we have many study pairs that share a data source. It could also be an important component for future work on creating an in app importer, allowing users to compare their updated study to an older version of the same st

[2022-02-25 14:49] ao508 commented on #91
@Luke-Sikina What do you mean by data source? Institution? Sequencing platform? Sample source? It's a bit unclear.

[2022-03-07 23:56] git-devansh commented on #91
Hi! I'm Devansh a student and web developer intern. I have some experience in Reactjs and Java. I would like to work on this task.  Is this task still available?

[2022-03-08 05:50] yliang123 commented on #86
Hello cBioPortal team, My name is Yuchen. I am a computer science master's student at North Carolina State University. I have experience with React and JS and can use reactour library to implement the interactive web tour. I am looking forward to being part of the cBioPortal team in Gsoc 2022 to contribute to this task.

[2022-03-10 22:32] ShwetKhatri2001 commented on #86
Hey there ! I'm Shwet Khatri ! I'm very much interested in contributing to this issue since I'm good at the needed skills. I have implemented similar features in past fulfilling the requirements. Looking forward to be a part of cBioPortal community and contribute to its growth.

[2022-03-11 03:49] abhijain2003 commented on #91
Hey! I am abhi jain  a frontend web developer i can code in javascript and reactjs. I would like to work on this issue can you explain it further

[2022-03-11 15:10] ao508 commented on #91
Hi @git-devansh! Thank you for reaching out :)  I will make sure @Luke-Sikina reaches follows up with you soon about applying.

[2022-03-11 15:10] ao508 commented on #91
Hi @abhijain2003 Thank you for reaching out :)  I will make sure @Luke-Sikina reaches follows up with you soon about applying.

[2022-03-11 15:12] ao508 commented on #86
Hello @yliang123 @ShwetKhatri2001, thank you for your interest! I will inform the potential mentors that you've reached out and someone can follow up with the application process.

[2022-03-12 03:41] abhijain2003 commented on #91
Thanks for this

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: 11 March 2022 20:40
To: ***@***.***>
Cc: Abhi ***@***.***>; ***@***.***>
Subject: Re: [cBioPortal/GSoC] Study Comparison Support (Issue #91)

Hi @git-devansh<https://github.com/git-devansh>! Thank you for reaching out :) I will make sure @Luke-Sikina<https://github.com/Luke-Sikina>

[2022-03-12 09:29] aaryahjolia commented on #85
I know frontend development techstack like html,css,js and reactJS a bit. I can eventually learn the techstack required for the project. Is this much enough to work on this issue?

[2022-03-12 21:39] git-devansh commented on #91
Thank you! Looking forward to it.

[2022-03-13 04:05] abhijain2003 commented on #91
I am getting this message twice. But, still sir @Luke-Sikina haven’t reached me yet, please make arrangements for my guidance . I need mentorship.

Thanks for reading.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: 13 March 2022 03:10
To: ***@***.***>
Cc: Abhi ***@***.***>; ***@***.***>
Subject: Re: [cBioPortal/GSoC] Study Comparison Support (

[2022-03-14 13:16] ao508 commented on #85
Thank you for your interest in this project! I will be sure to reach out to the mentors listed to let them know to follow up with you.

[2022-03-14 18:01] OmarAshraf1 commented on #91
Hi, I am Omar
I am interested in applying to this project. Could i ask a question please.
are the  Samples / Patients, Gene panels and Molecular Profiles stored in a relational database ?
Thanks.

[2022-03-14 18:06] Luke-Sikina commented on #91
Hi Omar,

Great question. You can find the schema here: https://github.com/cBioPortal/cbioportal/blob/master/db-scripts/src/main/resources/cgds.sql
Within the schema here are the tables for the respective objects:
- Patients: `patient`
- Samples: `sample`
- Gene Panels: `gene_panel`
- Molecular Profiles: `genetic_profile`

[2022-03-14 18:38] OmarAshraf1 commented on #91
@Luke-Sikina
Thanks a lot Luke.
That is great, i understood the project better. I am looking forward to apply and i wish to be a part of this.
Thanks.

[2022-03-14 23:45] martinnnuez commented on #83
My name is Martin Rodríguez Nuñez. I graduated in 2020 as an environmental engineer at the National University of Córdoba, Argentina (UNC). I am actually enrolled in a PhD program in engineering sciences focused on modeling fine particulate matter (PM2.5) levels employing meteorologic, geographic, remote sensing and land use variables as predictors. After finishing college I started a master's deg

[2022-03-15 12:00] amanag25 commented on #88
hey @inodb @ao508  I have some experience with react, javascript and java and would like to contribute to this project for GSOC 2022. Can you provide me some guidance about the process and for getting started?

[2022-03-16 07:23] Kanha-13 commented on #87
I wanted to contribute in this project can anyone help me with this?

[2022-03-16 15:47] Kanha-13 commented on #90
I wanted to contribute to this project ,I have sound knowledge of reactjs and JS ,but I am new to victory help me to understand the flow. Thank you.

[2022-03-17 11:44] tanishq67 commented on #87
Hi, I am Tanishq Gupta, a 3rd-year UnderGraduate pursuing Biological Sciences and Bio-Engineering from IIT Kanpur. I completed GSOC’21 under Open Bioinformatics Foundation last year. I have been programming since, the last 2 years, and I am very much passionate about working on projects that are related to biology.
As a web-head, I with my team created this https://www.ppociitk.in/ website in reac

[2022-03-18 06:37] lwaldron commented on #83
Hi @martinnnuez, thanks for your interest! I think we have a good project for someone of your background, focusing on increasing the coverage of cBioPortal data imported by its Bioconductor client. There are many datasets which it fails to import for one reason or another (https://waldronlab.io/cBioPortalData/articles/cBioPortalDataErrors.html) that will require some combination of custom dataload

[2022-03-18 10:32] tanishq67 commented on #87
@Luke-Sikina @dippindots

[2022-03-18 10:35] tanishq67 commented on #88
Hi, I am Tanishq Gupta, a 3rd-year UnderGraduate pursuing Biological Sciences and Bio-Engineering from IIT Kanpur. I completed GSOC’21 under Open Bioinformatics Foundation. I have been programming since, the last 2 years, and I am very much passionate about working on projects that are related to biology.
As a web-head, I with my team created this https://www.ppociitk.in/ website in react for our

[2022-03-20 16:56] tanishq67 commented on #87
@inodb is this issue still up for GSoC? Or is there any other mailing list that I am supposed to join? please let me know.
Thank You :)

[2022-03-20 16:56] tanishq67 commented on #88
@inodb is this issue still up for GSoC?

[2022-03-21 14:26] ao508 commented on #90
hi @Kanha-13, thank you for your interest in this project! I'm reaching out to the potential mentor who can help answer any questions you might have regarding this project.

[2022-03-21 14:28] ao508 commented on #87
hi @tanishq67, thank you for your interest in this project and apologies for the delayed response! This project is still available and I know for certain Luke is still interested in being a mentor. If you have any questions please let us know.

[2022-03-21 14:29] ao508 commented on #88
@tanishq67 this project is still up for GSoC as well :)

[2022-03-21 16:44] Kanha-13 commented on #90
@ao508 thank you for the reply, looking forward to connect with the mentor and start contributing.

[2022-03-21 20:29] khanhcodes commented on #86
Hello cBioPortal team! I am Kaitlyn and I am a CS and Mathematics undergraduate at the University of Georgia. I am familiar with ReactJS, JavaScript, and some other libraries such as Bootstrap and Material UI for frontend development. I am strongly interested in the applications of Computer Science in Biology, and I have experience working on some bioinformatics (genome data analysis and drug disc

[2022-03-21 22:59] tsun812 commented on #86
Hi, I am interested in this project. Just want to clarify something. 1. For the walkthrough tour, should we focus on group comparison feature, or should we cover all other features like study view as well? 2. is hint mode something to toggle after start tour button in the demo or should we replace start tour button with hint toggle?  so it automatically turn on for new users, and depend on user's

[2022-03-23 18:22] sheridancbio commented on #84
@inodb I have completed my system testing of the study validator. I used the study luad_tcga_pub from datahub. I changed one of the study ids to a length 63 string throughout the datafiles and the study successfully validated. Then I made that sample id length 64 and validation failed with this message in the logs:
[code]

I was unable to get the unit tests for the validator script to run smoothly

[2022-03-24 18:30] Kanha-13 commented on #90
@ao508 is there any update for me?

[2022-03-25 19:25] zhx828 commented on #90
@Kanha-13 sorry about the delayed response. We are still deciding on the mentor(s) for this one. But feel free to leave any comments/questions here and please take a look at https://github.com/cBioPortal/cbioportal/blob/master/CONTRIBUTING.md to get it started.

[2022-03-26 06:00] Kanha-13 commented on #90
@zhx828 That's totally fine. Thank you for the reply, I will go through the docs and get myself comfortable with the code base ans surely will drop comments if I have any issues. Looking forward to being a part of this project through GSOC.

[2022-03-26 06:31] Kanha-13 commented on #90
I gone throught the contibuting.md and have doubt like do I need to setup `https://github.com/cBioPortal/cbioportal-docker-compose.git` of `https://github.com/cBioPortal/cbioportal-frontend` in my local for this project

[2022-03-28 14:17] LiNk-NY commented on #83
Hi Martin, @martinnnuez

Thank you for your interest! We are glad to have you help us.
Please let us know what day works for you and either myself or Levi (or both) can meet with you.
I can go over the details with regards to the getting the datasets in analysis ready shape.

Saludos,
Marcel

[2022-03-28 15:21] ao508 commented on #86
@khanhcodes @ShwetKhatri2001 @yliang123 Please feel free to start working on the proposal as well as the application period is starting soon. Thank you!

[2022-03-28 15:23] tsun812 commented on #86
[ao508](https://github.com/ao508) Thank you!

[2022-03-28 15:26] ao508 commented on #90
@Kanha-13 If I remember correctly you can just deploy the front end locally and have it connect to the public instance of the cBioPortal which should be the default connection options.

@zhx828 @inodb Could you comment on this? It's been a while since I've done any frontend development.

[2022-03-28 16:04] Kanha-13 commented on #90
@ao508 Thank you I will start with the frontend repo first.

[2022-03-28 16:06] zhx828 commented on #90
Yup, Angelica is on point. Since this will highly be frontend only project, no need to setup the docker. You can follow https://github.com/cBioPortal/cbioportal-frontend#check-in-cbioportal-context

[2022-03-28 16:13] Kanha-13 commented on #90
@dippindots @zhx828 Thank you guys for the information. I will setup with frontend repo.

[2022-03-28 16:26] tanishq67 commented on #87
@ao508 sure, I am on it, will give you update in around a week :)

[2022-03-28 19:25] Kanha-13 commented on #90
@zhx828 I have setup the frontend in my local, and is working perfectly. But I can't see the issue section (tab) for this repository. Is it disabled or do I need some permissions for this!

[2022-03-29 19:14] zhx828 commented on #90
We use portal repo for all issues https://github.com/cBioPortal/cbioportal/issues

[2022-03-30 08:47] Kanha-13 commented on #90
Thank you, I will look there for any issues

[2022-03-30 12:03] MuluhGodson commented on #85
Hello @ao508
I am very much interested in working on this.

[2022-03-30 12:13] Saurabh-Suchak commented on #86
Hey @ao508 I am interested in this project and I am willing to contribute in this project as a part of GSoC'22.
I am proficient in frontend and know javascript,react and other libraries which would be helpful for the completion and address the issues.

[2022-04-01 03:13] inodb opened #92 "Improve Genome Nexus' Mobile and Search Experience"
**Background**:
[Genome Nexus](https://www.genomenexus.org/) [1] is a tool for the annotation and interpretation of mutations in cancer. [cBioPortal](https://cbioportal.org) leverages Genome Nexus' API to for instance show how a mutation might change the protein or how often a mutation occurs in healthy populations or patients with cancer. We recently released Genome Nexus as a standalone tool and

[2022-04-01 16:19] inodb opened #93 "Improve Genome Nexus' Command Line Interface Experience"
**Background**:
[Genome Nexus](https://www.genomenexus.org/) [1] is a tool for the annotation and interpretation of mutations in cancer. [cBioPortal](https://cbioportal.org) leverages Genome Nexus' API to for instance show how a mutation might change the protein or how often a mutation occurs in healthy populations or patients with cancer. We recently released Genome Nexus as a standalone tool and

[2022-04-01 18:55] martinnnuez commented on #83
Hello good morning, sorry for my delay with the answer. In a previous message I understood that Levi was proposing another project which confused me a little. I am available to talk about any project in which you think I can contribute in the framework of the google summer of code. Let's agree for next week or the following week, when you have availability.
Hope to hear from you soon.
Martin
_____

[2022-04-01 20:29] lwaldron commented on #83
I think they're both viable projects, one documentation-focused, the other
data wrangling-focused, so it will depend a bit on your interests. To tell
you a little more about my suggestion, at
https://waldronlab.io/cBioPortalData/articles/cBioPortalDataErrors.html
you'll see we still have a lot of dataset build errors, which I would love
to reduce or eliminate. These may be a fair bit of work to re

[2022-04-02 19:50] Saurav1905 commented on #86
Hello cBioPortal team, I am Saurav das. I am a Computer Science Btech student. I have worked on multiple projects react based and implemented tours as well. Looking forward to contribute in this project as a part of GSoC'22.

[2022-04-03 12:32] hossamelgendy1 commented on #93
I'm a 3rd-year CS student interested in implementing this project with Java. can you suggest small tasks to work on meanwhile besides researching command-line interfaces and mutation files?

[2022-04-04 20:34] AkashKalala commented on #86
Hello cBioPortal team, myself Akash Kalala, 3rd year student from IIT Roorkee. I was going through projects idea list of cBioPortal and found this "Interactive Web Tour #86" interesting and wanted to work on this project. I have made few websites and some work with ReactJS. Good at Javascript and wanted to work for a real life project. I tried to contribute by solving one issue #9227. I will be do

[2022-04-05 00:27] martinnnuez commented on #83
Perfect,  @LiNk-NY let me know when we can coordinate a meeting. Thank you very much.

[2022-04-05 14:42] ao508 commented on #86
@AkashKalala @Saurav1905  Thank you! We look forward to reviewing your application - good luck and please reach out if you have any additional questions!

[2022-04-05 14:46] ao508 commented on #93
@hossamelgendy1 Hello and thank you for your interest in this project! At this time we have a couple open issues in the [genome-nexus-cli](https://github.com/genome-nexus/genome-nexus-cli/issues) repo but please feel free to begin work on the proposal. Best of luck and please reach out if you have any additional questions!

[2022-04-05 14:50] ao508 commented on #85
@MuluhGodson Wonderful! Please feel free to begin working on the proposal and do not hesitate to reach out if you have any questions.

[2022-04-05 20:38] daniocionini commented on #84
Very interesting idea. I would like to have a go at it, where is the open source code to start from?

[2022-04-06 11:27] prithviraj-kt commented on #86
Hello cBioPortal team, I am Prithviraj and I am MERN stack developer, futuristic block chain dveeloperand I am an Engineering student at Computer science stream. I spend most of my time coding and learning new things.

 I am working as freelancer since more than one year and I am always pumped to learn and solve the most craziest challenges.

I help several organizations to solve their daily chall

[2022-04-06 14:09] prithviraj-kt commented on #86
Hello there, I just had a small query that can we use any library for implementation of this functionality? Or is there any library that has already been decided?

[2022-04-06 16:46] LiNk-NY commented on #83
Hi Martin, @martinnnuez

I can meet on Friday or next week.
Afternoons work best for me.
You can reach me on the Bioc-community Slack (my handle there is mramos148).
Register at https://bioc-community.herokuapp.com/
Looking forward to meeting with you!

Best,
Marcel

[2022-04-07 12:00] imsarath commented on #83
Hi, @LiNk-NY @lwaldron,

I am interested to work on this project. Having read Levi's comment above, I would like to know more about the data wrangling aspect of it. Please let me know how to proceed.

Thanks,
Sarath

[2022-04-07 20:37] MoatazNasr commented on #87
Hey is there any issues to work on before submitting the proposal ?

[2022-04-07 20:37] MoatazNasr commented on #88
@inodb  @ao508  Hey are there any issues to work on before submitting the proposal ?

[2022-04-08 09:55] 4rr0w commented on #92
I have experience with building similar features from my past projects. I would love to work on this feature. Please guide me, where I can submit the proposal for working on this.

[2022-04-11 05:23] pradhyumnj commented on #93
Hi, I'm a 3rd year biosciences students at IIT Madras. I'm interested in the GSoC project "Improve Genome Nexus' Command Line Interface Experience" in python, but I don't quite understand the problem statement clearly. Right now we have genome-nexus-annotation-pipeline for MAF and annotation-tools for VCF, and the goal is to create a CLI that is user friendly and can annotate both MAF and VCF file

[2022-04-11 06:29] mohitnehra26 commented on #90
Great, thanks for the reply.

[2022-04-11 06:40] 4rr0w commented on #92
@onursumer @leexgh @inodb I am 3rd year undergrad at IIT Delhi, from india. I am intrested in taking up this project and working on it.  I have drafted a proposal for this. Please help me finalize it by reviewing it. Please let me know where I can share my proposal for your reviews.

[2022-04-11 20:51] lwaldron commented on #83
Great, Sarath! We should have a group call perhaps next week to sync up. Do
you have time limitations?  @link-ny let’s talk this week then propose some
times. --

Levi Waldron

Associate Professor

Department of Epidemiology and Biostatistics

CUNY Graduate School of Public Health and Health Policy

Institute for Implementation Science in Population Health

55 W 125th St, New York NY 10035

https:

[2022-04-11 23:46] AbhishekJamhoriya commented on #87
Hi @ao508,
I'm in my 3rd year at IIT Jodhpur INDIA and currently pursuing my B.tech  degree in Computer Science and Technology. I wanna apply for Gsoc and feels that this project will be a great fit for me.  I have a great knowledge of Javascript, HTML, CSS  and MERN  stack. I have done an internship where I was working on a similar thing.so if you give me a green signal I can work on the proposal

[2022-04-13 04:23] MuluhGodson commented on #85
@ao508 I'm not able to get in touch with any of the mentors. I left messages privately on Slack about 12 days ago but haven't received a response yet.

[2022-04-13 06:02] ugurdogrusoz commented on #85
@MuluhGodson I don't check Slack much. You can email me privately ([home page](http://www.cs.bilkent.edu.tr/~ugur/)).

[2022-04-13 12:42] ao508 commented on #87
@AbhishekJamhoriya @MoatazNasr Thank you for your interest! Please feel free to begin working on the proposal and let us know if you have any additional questions.

At this time I don't believe there are any issues to work on related to the Mutation Diagram before submitting the proposal.

[2022-04-13 12:50] ao508 commented on #92
Hi @4rr0w everything can be done through the GSoC website :)

[2022-04-13 12:54] ao508 commented on #88
@MoatazNasr Feel free to begin working on the proposal! There aren't any outstanding issues related to the lollipop plot at this time.

[2022-04-13 13:10] ao508 commented on #86
Hi @prithviraj-kt - I don't believe there is any preference as to which library is used as long as it works with the cBioPortal frontend.

[2022-04-13 20:36] jagnathan commented on #84
the source code is available in github. https://github.com/cBioPortal

[2022-04-14 07:09] prithviraj-kt commented on #86
Thankyou so much @ao508 , I'll take care about it.

[2022-04-27 10:39] aakilkhanemon commented on #87
Hi there! Is this issue still up for GSoC2022? I am interested in contributing to this project. Could anyone please let me know if there is any chance to get involved specific project?
Thanks for your time.

[2022-04-30 19:00] Farkadi06 commented on #91
Hello,
I'm looking forward to applying for this project.Right now, I'm becoming familiar with the code database.Is it too late to present the proposal?

[2022-05-03 19:16] davidizzle commented on #93
Hi @ao508 ,
I'm a CS fresh postgrad who's switching jobs, and will be contributing to open-source over the summer before my next job starts. Would you guys need an extra hand? Your projects look super interesting. Feel free to reach me at davide.ferretti.j@gmail.com if you have any extra work in particular you'd like help with.

[2022-05-04 23:19] LiNk-NY commented on #83
Hi Sarath, @imsarath
Any updates on this? Are you still interested?
Thanks!
-Marcel

[2022-07-26 17:00] dextey commented on #90
@ao508  @zhx828
Is this issue fixed? Can I work on this project?
I am new to open source contribution. I have experience in javascript and React.
I am looking forward to your response and mentorship.

[2022-08-18 14:37] alisman commented on #90
@dextey maybe could arrange a short zoom call to discuss?

[2022-08-19 15:55] dextey commented on #90
@alisman
yes, it would be great.
Gmail: dexterdevmode@gmail.com

[2022-08-19 16:46] alisman commented on #90
Ok, will send you an meeting invite

On Fri, Aug 19, 2022 at 11:55 AM Dexter ***@***.***> wrote:

[2022-10-07 19:40] Gairick52 commented on #93
@inodb i am new to open source can you suggest me some beginner friendly issues

[2022-10-11 09:28] ao508 commented on #85
I’m so sorry you’re having trouble reaching them.

I’ll nudge them again but in  the meantime please feel free to begin the
proposal. If you’re looking for any feedback you may share a google doc
link with us.

On Wed, Apr 13, 2022 at 12:23 AM Muluh MG Godson ***@***.***>
wrote:

[2022-10-11 10:07] ugurdogrusoz commented on #85
A [project](https://summerofcode.withgoogle.com/programs/2022/projects/FzzHizYK) based on this idea was already done as part of GSoC 2022.

[2022-11-27 09:29] Cardano-max commented on #93
Respected sir/madam,
I am Ateeb Taseer, a computer engineering undergrad, I have just entered my final year at NUST. I am new to open source contributions, but I am well aware of python, C++, java, JavaScript and Node.js. I am very much interested in this project as my final year project is also related to Bioinformatics and want to start my career in Bioinformatics, I would like to contribute to

[2022-11-27 09:29] Cardano-max commented on #93
**Respected sir/madam,**
_I am Ateeb Taseer, a computer engineering undergrad, I have just entered my final year at NUST. I am new to open source contributions, but I am well aware of python, C++, java, JavaScript and Node.js. I am very much interested in this project as my final year project is also related to Bioinformatics and want to start my career in Bioinformatics, I would like to contribut